[2017-01-06 02:03] nikomatsakis opened #1 "include universe quantifiers in the `Quantified<T>` type"

[2017-01-06 02:04] nikomatsakis opened #2 "Projection and normalization"

[2017-01-06 09:54] #1 closed

[2017-01-09 10:58] nikomatsakis commented on #2
This is basically fixed, but a few FIXMEs remain. Will open distinct issues.

[2017-01-09 10:58] #2 closed

[2017-01-09 10:59] nikomatsakis opened #3 "Lifetime inference"
Much of the plumbing for lifetime inference is there, but still work to do. In particular we have to move the `constraints` vector from `infer` into `fulfill` and then populate it during unification.

[2017-01-09 11:00] nikomatsakis opened #4 "Fulfill drops some obligations onto the floor"
During `solve_one()`, fulfill invokes `self.infer.unify()` rather than `self.unify()`. This means that some obligations are dropped onto the floor. Easy to fix, but I wanted to write a test that would expose it.

[2017-01-09 14:13] nikomatsakis opened #5 "Unimplemented: occurs check in projections"
No good reason not to implement this that I can think of. But regardless should add a test first.

[2017-01-09 17:49] #3 closed

[2017-01-09 17:49] #4 closed

[2017-01-10 10:45] #5 closed

[2017-01-10 10:49] nikomatsakis opened #6 "inference, lazy normalization, and occurs check"
One interesting question is how the occurs check interacts with lazy normalization. Consider the inference unit test `projection_eq`. It attempts to solve an equation like `exists(A -> A = Item0<<A as Item1>::foo>)`, which is currently rejected. In some sense, this is obviously an infinitely sized type, and indeed `<A as Item1>::foo` might normalize to `A`. But it could also normalize to `u32`, in

[2017-01-16 01:39] nikomatsakis opened #7 "Caching"
The `Solver::solve()` requests are intended to be cached, but we're not doing it yet.

[2017-01-16 01:40] nikomatsakis opened #8 "Tests for partial overlap"
We should add some tests for the scenario where there are two equally applicable impls (for marker traits). This ought to be supported by the codebase -- it should refuse to infer details from either one, but if there are multiple sets that match a single set of types, that's ok.

[2017-01-16 01:40] nikomatsakis opened #9 "Specialization"
Introduce support for specialization between impls. Probably best to try and implement the current RFC before considering variations.

[2017-01-16 01:41] nikomatsakis opened #10 "Coherence: overlap and orphan check"
Extend the code with the ability to do a coherence check. I'm not exactly sure what this should look like. To cover the orphan check, we'd have to include a knowledge of crates, but I think I'm more interested in examining the overlap check. That seems to imply a certain amount of negative reasoning (though that also includes some knowledge of crates).

[2017-01-16 01:41] nikomatsakis opened #11 "Well-formedness checking of declarations"
We don't currently do any WF checking. Specifically, it'd be nice to lower each struct/trait/impl into a predicate that, if provable, defines whether the declaration is well-formed. In *most* cases this is relatively straightforward, though depending how far we go we might need to extend the IR.

For example, structs don't currently list their fields, but the WF rules for structs require that the

[2017-01-16 01:43] nikomatsakis opened #12 "Elaborating where clauses on traits, structs"
Related to #11, we don't really do anything clever with where clauses on traits/structs. We need to support "elaboration" -- ideally, a richer form than what the current compiler supports. In particular, we should be able to show that e.g. `T: Ord => T: PartialOrd` (supertrait) but also any other where-clause on traits, and in particular I'd like a better form of support around projections of asso

[2017-01-16 01:44] nikomatsakis opened #13 "generic associated types (ATC)"
We can implement support for generic associated types / ATC in a relatively straightforward fashion.

[2017-01-16 01:44] nikomatsakis opened #14 "Compile impls to a decision tree and/or bytecode"
Currently we're using a fairly naive selection process but it'd be nice to prototype a decision tree-- eventually I'd like to compile everything down to bytecode.

[2017-01-16 01:45] nikomatsakis opened #15 "Abstract current IR using traits?"
Of course, it may be best to just re-implement this code in the compiler, but it's also worth considering if we can abstract away the current IR using traits to allow for integration into the compiler.

[2017-01-27 22:09] nikomatsakis opened #16 "check kinds in lowering"
Currently we check that when you instantiate a struct or trait you supply the right number of parameters, but we don't check that they have the right kind (i.e., type vs lifetime). I added an (ignored) test `check_struct_kinds` that demonstrates this. It'd be nice to fix this.

To fix it, one would go into `chalk-rust/src/lower/mod.rs` and look for places where we check the number of parameters, e

[2017-01-28 17:43] cramertj opened #17 "Fix associated type parameter length detection"
The following code passes lowering:
[code]

I believe the relevant code is [here](https://github.com/nikomatsakis/chalk/blob/master/chalk-rust/src/lower/mod.rs#L546). Edit: although perhaps I've misunderstood. That code isn't even getting called in this case. It only seems to be getting called when associated types are used in `impl` headers, like so: `impl<X> Foo for <X as Iterator>::Item where X

[2017-01-28 18:20] cramertj commented on #17
On second glance, it doesn't look like lowering even examines trait impls in comparison to the original trait (omitted items, etc. don't break anything).

[2017-01-28 18:20] #17 closed

[2017-01-28 22:02] withoutboats commented on #15
I would think the lowering traits would be sufficient for lowering integrating this into the compiler - just implement `LowerProgram` et al for the HIR types.

[2017-02-11 07:06] #16 closed

[2017-03-11 10:53] nikomatsakis opened #19 "refactor `Program` to separating lowering from solving"
Right now the `ir::Program` struct contains a lot of fields that encode the lowered Rust program:

[code]

Since the trait solving routines in `solve` get access to an `Arc<Program>`, this suggests that they need all of this information. But in fact they do not. The goal is that they only need `program_clauses`, although it may be useful to have a *bit* more (basically, it depends a bit on how muc

[2017-03-11 10:54] nikomatsakis commented on #14
I now think this should not be part of chalk. At least not yet. The goal is to keep chalk as a fairly naive exposure of the logic. Though eventually we may have to make it more efficient.

[2017-03-11 10:54] #14 closed

[2017-03-11 10:54] nikomatsakis commented on #13
This is done.

[2017-03-11 10:54] #13 closed

[2017-03-11 11:01] nikomatsakis commented on #12
We now support a basic form of elaboration, but I am not happy with it. In particular, we have some hard-coded rules that take in the environment and "elaborate" it at various points, much like the compiler does. My ideal would be to find a solution that encodes these relationships "into the logic" as program-clauses. For example, you might imagine:

[code]

would imply a rule like

[code]

Howeve

[2017-03-11 11:06] nikomatsakis commented on #7
This seems like a relatively easy place to get started. Basically, in its simplest form, we would have to add some sort of cache *somewhere* -- perhaps the `Arc<Program>` -- that maps from input queries to results. Those queries are the argument to `Solver::solve()`, which is currently of type `Query<InEnvironment<WhereClauseGoal>>`. The result is the return value: `Result<Solution<InEnvironment<W

[2017-03-11 11:15] nikomatsakis commented on #11
Probably the first step to tackling this bug is breaking it into steps and opening issues on those =)

[2017-03-11 18:11] nikomatsakis opened #20 "revamp region constraints"
The current region constraints aren't quite expressive enough and have some flaws. After chatting some with @aturon, the current plan is to shoot for the following structure. First off, chalk is implementing a function `Solve` that has roughly this structure:

    Solve(Env, Goal) = LifetimeGoal

a successful result is meant to imply that (in purely logical terms):

    Env, LifetimeGoal |- Goal

[2017-03-13 23:10] withoutboats commented on #12
Note the first code block should be `pub trait Bar: Foo { }`

[2017-03-13 23:27] withoutboats commented on #12
Can we assume all other impls are well formed when checking clauses generated by each impl?

[2017-03-14 00:35] nikomatsakis commented on #12
@withoutboats

I'm not sure what you mean by 'clauses generated by each impl'...

[2017-03-14 00:44] nikomatsakis opened #25 "refactor occurs check into a folder"
The occurs check code in `src/solve/infer/unify.rs` (specifically, the methods defined on `OccursCheck`) follows a very folder-like pattern. Unfortunately, it can't quite use the `Folder` trait (as defined in `fold.rs`) because that trait only contains "callback methods" for processing free lifetime/type/krate variables. The occurs check needs to be able intercept all types, at least, as well as n

[2017-03-14 00:59] #19 closed

[2017-03-14 01:12] withoutboats commented on #12
@nikomatsakis

[code]

To prove the wellformedness of impl A, we need to prove `Baz: Foo<Bar>`; currently all we have available is a rule that `Baz: Foo<Bar> :- Bar: Foo<Baz>`. What if instead clauses carried a context and we had a rule available outside of impl B that `Baz: Foo<Bar>`, because we assume that impls are well formed when not checking those specific impls?

[2017-03-14 03:47] #20 closed

[2017-03-14 05:36] withoutboats commented on #12
Okay learning a bit more about the internals I *think* what I mean is:

right now we are talking about translating impl A into `(Bar: Foo<Baz>) :- (Baz: Foo<Bar>);` I think instead we should translate it into:

* `Bar: Foo<Baz>`.
* `WF(Bar: Foo<Baz>) :- Baz: Foo<Bar>`.

That is, we add a fact the impl implies without checking the impl, but also check the impl through a distinct WF check. That avoi

[2017-03-15 12:34] nikomatsakis commented on #12
Right, so I remember @aturon and I talking about something like this at one point. I thought there was a catch, but perhaps it does work out if we do it just right.

I think the key idea is to distinguish (as you suggest) `T: Foo` from `WF(T: Foo)`, and then to say that an **impl** establishes `T: Foo` but **not** `WF(T: Foo)`. We then say that:

- an impl can assume that its **input types** are w

[2017-03-24 21:28] aturon opened #27 "Questionable use of "punning" variable indexes"
The code [here](https://github.com/nikomatsakis/chalk/blob/85b55bc9e2fc9c91ac27962248c02622010116a3/src/solve/match_clause.rs#L26) looks suspect. It appears to assume that the inference table keys generated will go from `0..q.binders.len()`, but this doesn't happen since difference kinds of variables (types, lifetimes, crates) are indexed separately.

If this is indeed a bug, you'd expect it to tr

[2017-03-24 21:31] aturon commented on #27
@nikomatsakis provided a probable test-case, which panics:

[code]

He also mentions that this kind of punning trick is used throughout the code.

[2017-03-25 00:38] withoutboats commented on #12
Here's something which today is an unsupported cyclic reference:

[code]

I believe we could support it with the same cycle breaking technique of distinguishing between a `T: Trait` and `WF(T: Trait)`. Do you think so?

[2017-03-27 13:23] nikomatsakis commented on #6
Thinking more about this, I have to wonder why I opted to have have chalk "defer" normalization the way that is does (i.e., by producing a new obligation to be solved), rather than just solving it **in place** (recursively). I've wondered before, but it didn't seem to make much difference. But when you think about the need to track recursion depth, it might make things mildly simpler.

[2017-03-31 06:29] withoutboats commented on #9
@aturon & I talked a bit about this today. We talked about two basic different ways of encoding specialization:

* In the first, we simply encode impls to proofs with 'holes' in them for where they've been specialized. So if you have `impl<T> Trait for T` and `impl Trait for u32`, the first impl would generate the fact that `T: u32 where T != u32`.

* In the second, we don't do this, and instead w

[2017-04-08 01:26] soltanmm commented on #6
I'm not familiar with how the code currently behaves, but to get me thinking about this and because I want to contribute, here're some bouncy thoughts:

This sounds like something that'd fall out of having a 'progress' measure. If all the atoms (types) are grouped into equivalence classes with each equivalence class having some designated element (e.g. by organizing w/ union-find and doing a union

[2017-04-13 08:22] #27 closed

[2017-04-13 08:27] nikomatsakis commented on #7
After some discussion, we decided not to do this for now, in the interest of keeping chalk simple (though we may want to do it later).

[2017-04-13 08:27] #7 closed

[2017-04-13 08:31] nikomatsakis commented on #9
First, a nit-pick:

This isn't quite true. We still have to check for overlap against the impls in ancestor crates, because of the possibility that one of them defined a blanket impl. For example, we might have:

[code]

Now crate C has to check for overlap against both the impl in crate A and the impl in crate B. (It may be that we could get away with just checking crate B in this case, actually,

[2017-04-13 08:42] nikomatsakis commented on #9
I think this is a case where it *might* (not sure) make sense for chalk and rustc to differ. That is, what we're basically talking about is whether the handling of specialization should move **into the logic engine** or **into the rules themselves**. The advantage of the latter is that the logic engine remains simpler, which is definitely a prime goal of chalk, and is a fairly high goal of rustc,

[2017-04-13 08:48] nikomatsakis commented on #12
@withoutboats

This isn't really **unsupported** today. What actually happens is that we error out trying to resolve `Self::One` (and, in particular, to figure out what trait `One` comes from). If you write out the traits explicitly, it works:

[code]

Chalk kind of sidesteps this problem by not supporting `Self::One` notation. =)

In any case, I think should work out fine in the setup. I guess th

[2017-04-13 08:51] nikomatsakis commented on #8
This would make a good first bug. The idea would be to modify `src/solve/test.rs` and add a new test looking something like the existing `#[test]` entries. This test would include two overlapping impls (e.g., `impl<T: Foo> Marker for T` and `impl<T: Bar> Marker for T`) and check that we can prove `X: Marker` for types that implement both Foo and Bar.

Bonus points would be to add some cases to sho

[2017-04-13 14:52] aturon commented on #9
@nikomatsakis This may be what you were getting at, but it doesn't seem like the decision tree strategy and the negative fact check strategy are at odds. In other words, there is likely a way to avoid changing the logic engine itself, while quickly guiding it to the correct proof strategy by carefully generating the program clauses.

Can you elaborate a bit on what you had in mind with using "or"

[2017-04-13 19:54] nikomatsakis commented on #9
@aturon

I was just saying that, instead of supporting goals like `A; B` we can always desugar by introducing some fresh query `A_OR_B` and writing rules like:

[code]

This is kind of silly, of course, but if it so happens that it falls out naturally from the way that we want to do lowering anyway, it may be sufficient.

[2017-04-13 19:55] nikomatsakis commented on #9
Agreed, although it **may** be more straightforward to create the decision tree if we understand the prioritization "naturally".

[2017-04-25 22:30] mrhota commented on #8
@nikomatsakis I started working on this. First, I started with a `simple_overlap` test in exactly the way you describe. Easy peasy.

I got more confident and created a `maybe_overlap` test much like an example from @aturon's recent Chalk blog post. The test was something like this:

[code]
which failed because `chalk` apparently doesn't implement negative reasoning yet (??).

Then I "accidentally"

[2017-04-25 23:19] mrhota commented on #11
@nikomatsakis can you provide some guidance on what those steps might be?

[2017-04-29 01:09] aturon commented on #8
@mrhota, you're right that negative reasoning is not well-supported right now, and the current forms for negation are [going to be removed](https://github.com/nikomatsakis/chalk/pull/32), in favor of a more general purpose system of negation.

However, you should be able to add this test without using negation. [@nikomatsakis's comment](https://github.com/nikomatsakis/chalk/issues/8#issuecomment-2

[2017-04-29 17:53] mrhota commented on #8
@aturon after stepping away for a few days, I think I understand the second part of that comment better. I admit I'm rather out of my depth, but the code is pretty straightforward, so that helps!

[2017-05-20 23:32] withoutboats commented on #12
This strategy should resolve recursive where clauses, I think (see [https://internals.rust-lang.org/t/recursive-trait-bounds/5265](this thread)]).

Something like this:

[code]

Currently does not compile. But we should lower it to:

[code]

[2017-05-25 16:55] dtolnay opened #34 "Rename repl to chalk"
Running `cargo install` installs a binary called "repl" which is not great. Let's rename it so the user can run the repl with the command "chalk" rather than "repl".

[2017-06-01 05:32] fabric-and-ink commented on #25
I would like to give this a shot :)

[2017-06-05 20:30] fabric-and-ink opened #41 "Improve documentation"
- [x] Introduce a glossary at the root of the project with pointers to literature (#51) .

The following items are on hold until I learned more about logic and types. This thing is still like alien technology for me 😀
- ~~"Massage-in" the essence of the wonderful blog posts by Niko and Aaron.~~
- ~~`#![warn(missing_docs)]`.~~

[2017-06-05 23:14] aturon commented on #41
Hah, love it! All good things to do.

[2017-06-06 15:30] nikomatsakis commented on #25
@fabric-and-ink cool, feel free to come to gitter channel with questions, if any arise

[2017-06-08 13:57] scalexm opened #42 "Implement a tabling strategy for handling cycles"
Currently we treat cycles (i.e. seeing the same clause twice) as `Ambiguous`. However, this is not desirable as in the presence of tautologies like `(u8: Foo) :- (u8: Foo)` (which may appear while elaborating clauses à la #12), Chalk will answer `Ambiguous` to the query `u8: Foo` when `u8` does not implement `Foo`, whereas we would prefer an error.

We can't treat cycles as errors or else the foll

[2017-06-08 18:29] fabric-and-ink commented on #42
I still new to the topic and chalk so I might misunderstand. Isn't this case catched by the `OccursCheck`?

[2017-06-11 22:07] withoutboats commented on #9
Our plan for specialization as of now (or, my understanding of a conversation with @aturon):

First, #39 will land giving us the overlap check. I'm going to modify this to, when impls overlap, instead of erroring, follow up with queries to determine if one specializes the other. If there is a specialization relationship, we'll add it to a forest of `ImplDatum`s.

Once that forest has been construc

[2017-06-12 19:36] fabric-and-ink commented on #25
Slow but steady progress... :)

[2017-06-13 13:38] nikomatsakis opened #44 "normalization and the meaning of unique"
We are still wrestling to some extent with the meaning of "unique" and how to handle negative reasoning. In https://github.com/nikomatsakis/chalk/pull/38, @aturon made a number of changes, but I have some reservations about some of the details of that PR. There are also some scenarions that are still not handled very well in that PR that we may want to consider.

When @aturon and I last spoke, we

[2017-06-13 13:41] nikomatsakis commented on #44
Evaluating the "cannot prove" rule on the various examples:

**Example 1.** In the first case (`forall<T> { T: Foo }`), trying to unify `T: Foo` against the impl would yield `CannotProve`, which would lead to an overall `CannotProve` result. Negating `CannotProve` again yields `CannotProve`. This successfully indicates that the goal *may* be provable for some instantiations (but not all).

**Examp

[2017-06-13 18:19] nikomatsakis commented on #44
After #45, this might be basically done -- the only thing left might be changing how we handle negative reasoning, if we decide we want more precise results. That could also be a separate bug.

[2017-06-14 03:42] withoutboats commented on #34
renamed to chalki in #46

[2017-06-15 13:58] nikomatsakis commented on #42
This is done now, in #47 and #48.

[2017-06-15 13:58] #42 closed

[2017-06-15 18:37] nikomatsakis commented on #9
@withoutboats

One complication here: we're going to have to adjust lowering, since -- in order to do those checks, we have to make sure that we have lowered enough traits to do the queries we need. In the compiler, we recently achieved this by making the lowering of a particular trait (and its impls) a single work item. We then execute the work items on demand, watching out for cycles (which are

[2017-06-15 19:26] withoutboats commented on #9
@nikomatsakis Yeah, @aturon and I talked about this a little bit. Our idea was to just not take this into account in the first pass and then fix it later.

The current PR performs all of the specialization checks against the program prior to overlap checking (meaning it will presumably pick arbitrary specializations). This is bad and it needs to change, but I'm not quite sure how.

[2017-06-16 19:02] nikomatsakis commented on #9
@withoutboats Yeah, I have to think about this -- I am trying to figure out if this implies that lowering cannot be separated cleanly from proving or not. I...well, I suspect it can actually. After all, the only time that the "specialization tree" matters is when you are projecting, right? I suspect we can do something in lowering to detect these cycles. Let me see if I can write something down th

[2017-06-16 23:15] withoutboats commented on #9
Yes AFAIK

[2017-06-19 15:53] aturon commented on #44
That's not quite right. The reading is rather: *if* this goal is to ever work, the existentials *must* take the given values.

[2017-06-25 23:43] #34 closed

[2017-07-04 17:41] fabric-and-ink commented on #25
I followed your suggestion to implement a bridge trait. Now I am stuck at connecting both kinds of folders at this point:

[code]
I don't know what a *universe* is in this context (see #51) and therefore don't now how to proceed. Any hints? :)

[2017-07-10 19:02] tomwhoiscontrary commented on #41
It would be unimportant but nice to specify the desired pronunciation of the name. Is it the English word "chalk", or the Greek "χαλκ-", which, based on my rusty Ancient Greek, is more like "halk", rhyming with "talc"?

Also, Chalkidiki is a peninsula, rather than an island. Although it was temporarily and island after a [Persian megalomaniac dug a big trench across it](https://en.wikipedia.org/wi

[2017-07-13 00:43] nikomatsakis commented on #25
@fabric-and-ink sorry, missed these comments! Maybe post your branch somewhere I can see it?

[2017-07-14 11:25] nikomatsakis commented on #44
@aturon updated

[2017-07-19 09:16] fabric-and-ink commented on #25
There you go: https://github.com/fabric-and-ink/chalk/commit/170609ac0ea158597d65d47a26e4f29f6f6bcc9a

[2017-07-27 13:05] fabric-and-ink commented on #25
Replaced the old `Folder` trait (now `FolderVar`) with the new `Folder`. Now I am at [this point](https://github.com/fabric-and-ink/chalk/commit/30d7cb1c942f230593f8a3b6aff5ed919c15e48e). The "bride" impl and the impl for `Folder + ?Sized ...` are in conflict. But the second impl is necessary to make  for example [this](https://github.com/nikomatsakis/chalk/blob/master/src/fold/shifted.rs#L34-L35)

[2017-08-01 08:04] fabric-and-ink commented on #25
@nikomatsakis any hints on how to solve the trait conflict? (See last comment.)

[2017-08-01 21:48] scalexm commented on #25
@fabric-and-ink niko is not extremely available right now, but I'll try to help you soon :)

[2017-08-03 22:28] scalexm commented on #25
@fabric-and-ink How about:
[code]

and then you use like that:
[code]

With that I think you should be good :)

[2017-08-05 18:09] fabric-and-ink commented on #25
Nice! Thank you! That worked well :)

[2017-09-11 09:13] nikomatsakis commented on #12
@scalexm this issue can be closed now, right?

[2017-09-11 11:15] scalexm commented on #12
Well I don't know, currently we still have rules of the form `WF(T: Trait) :- WF(T)` (i.e. we still require that the input types are well formed), so maybe tweak this + add implied bounds -- I think I have a local branch implementing all this.

[2017-09-12 08:24] nikomatsakis commented on #12
@scalexm I see. OK, want to open a PR with that branch?

[2017-09-27 22:09] nikomatsakis opened #58 "model the algorithm for normalizing when trait is unknown"
Right now in Chalk we don't have support for types like `T::Item`; we always require fully explicit types like `<T as Iterator>::Item`. In particular, the trait is always known. So for example  [in the AST node, we know the trait](https://github.com/nikomatsakis/chalk/blob/72e655355e237ff1b9fdaeb024e8e46569178e3c/chalk-parse/src/ast.rs#L132-L136). In the lowered IR, a projection [references the id

[2017-09-27 22:10] nikomatsakis commented on #58
cc @Gargolun, who expressed some interest here.

[2017-09-28 12:48] nikomatsakis commented on #12
OK, after [some discussion with @arielb1 and @scalexm on gitter](https://gitter.im/rust-impl-period/WG-compiler-traits?at=59cab26681cd9a5d7e9e6f57), it became clear that there is still another problem. This has to do with cycles that arise when trying to deal with associated types and bounds. Consider this setup:

[code]

The actual Chalk syntax for that is as follows:

[code]

which gives rise to

[2017-10-02 12:57] Garogolun commented on #58
Adding `InScope` went scaringly quickly, but maybe I missed something. The commit is [here](https://github.com/Garogolun/chalk/commit/ab6b21cee868a7f741830383d2228625aa82cf2b).

If I understand correctly, the next step is to add types such as `T::Item` (where the trait is not specified), and generate rules to infer `<T as Iterator>::Item` from `T::Item` and things like `InScope(Iterator)`? (I also

[2017-10-10 09:15] #25 closed

[2017-10-10 19:42] nikomatsakis commented on #58
@Garogolun argh, sorry, I'm having trouble keeping up with GH notifications right now. Feel free to reach out over [gitter](https://gitter.im/chalk-rs/Lobby) for faster responses. =)

Anyway, that commit looks pretty reasonable.

Yes, I think that the next step would be to add a new kind of type that is like an associated type but without the trait, and a rule like:

[code]

[2017-10-11 02:07] mikeyhew commented on #8
@nikomatsakis did I understand you right? Here is a test I came up with:

[code]

Unfortunately, when I load the program into chalki, it says `error: overlapping impls of trait "Marker"`

[2017-10-11 18:10] scalexm commented on #12
No, the caller just has to prove that `T: Foo` holds, because indeed `i32FooImplWF` has already been proven.

This is actually related to how I formally defined soundness: let `A` be a set of trait bounds and `T` a given type. If `|- A` and `Implied(A) |- T: Trait`, then `|- T: Trait`.

In other words, say you have a trait `trait Foo: Copy` and that `String: Foo` holds (i.e. an `impl Foo for Strin

[2017-10-11 18:57] arielb1 commented on #12
This feels like it ignores the parametric context. While this should be enough for translation, rustc also wants the version with arguments:

"implication-elimination" theorem (here `|-` is recursive impl search):
[code]

[2017-10-11 19:48] scalexm commented on #12
@arielb1 Yes I agree with you, and actually I did think about that when I sketched my proof. The thing is that we cannot ask for your definition in an intuitionistic model. Indeed, say we have the following traits and impls:
[code]

Then if `T` is a given type, let `Γ = { T: Foo }` we have:
[code]
But we do not have: `Γ |- T: Copy`. The point is that, if we had a function:
[code]
Then we would not

[2017-10-11 20:10] arielb1 commented on #12
@scalexm

That's why I added the `WF(Γ)` as a parameter to the parametric definition. We have `WF(Γ) |- T: Copy`, so order is restored.

[2017-10-11 20:17] scalexm commented on #12
Ah sorry, I responsed to the un-edited message. Is `WF(Γ)` the same thing as `Implied(Γ)`? If so, I agree.

[2017-10-12 06:42] withoutboats commented on #8
@mikeyhew No, those impls actually overlap, because you can use two different impls to prove `i32: Marker`. The type parameter on the example in @nikomatsakis's post was necessary, because it meant that the impls were not actually overlapping.

[2017-10-12 21:07] mikeyhew commented on #8
@withoutboats I'm confused. I thought the impls were supposed to overlap? Niko said to "check that we can prove `X: Marker` for types that implement both Foo and Bar". So I made i32 implement Foo and Bar and checked that `i32: Marker`. Which type parameter are you referring to, `X`?

[2017-10-12 21:17] mikeyhew commented on #8
@withoutboats @nikomatsakis Is this what you meant?

[code]

[2017-10-13 04:25] withoutboats commented on #8
Niko spoke unprecisely when he said the two impls overlap. What he means is that if the parameter is not known, they both *could* apply.

It was like this:

[code]

If `T: Foo + Bar`, and you don't know what the `?` in `Marker<?>` is, its uncertain whether `?` is `i32` or `u32` (as opposed to incorrectly picking one at random).

These impls don't actually overlap, in the sense of the overlapping i

[2017-10-14 09:11] nikomatsakis commented on #8
@withoutboats @mikeyhew

Well, actually, due to [RFC 1268](https://github.com/rust-lang/rfcs/blob/master/text/1268-allow-overlapping-impls-on-marker-traits.md), marker traits (those with zero items) are **allowed** to overlap. So that may be a bug that @mikeyhew has uncovered, actually.

[2017-10-14 09:20] nikomatsakis commented on #44
So I resolved this in https://github.com/nikomatsakis/chalk/pull/60. The first key observation is that free universally quantified variables (i.e., `ForAll`) cannot be considered ground and require some special treatment (this is why `for<A, B> { not { A = B } }` was giving us such trouble). The second is that the behavior of existentials in that case is exactly what we want. So essentially was #6

[2017-10-14 09:20] #44 closed

[2017-10-14 15:53] withoutboats commented on #8
A little annoying for chalk since nearly all of our tests use marker traits.

[2017-10-17 08:08] nikomatsakis commented on #8
@withoutboats

True. =) Maybe we should make marker traits more explicit with `#[marker]`?

[2017-10-18 00:43] mikeyhew commented on #8
@withoutboats I agree with @nikomatsakis. One of the unresolved question on RFC 1268, anyway, is whether to use a `#[marker_trait]` attribute, to avoid accidentally creating a marker trait and breaking backward compatibility when you add an associated item. In either case, it would probably make sense for rustc to tell chalk that a trait is a marker trait, rather than have chalk infer it.

[2017-10-22 11:06] nikomatsakis opened #62 "support overlap for marker traits"
The current coherence rules do not have any special cases for "marker traits" -- that is, traits with zero items. As [discussed](https://github.com/rust-lang-nursery/chalk/issues/8#issuecomment-336644098) in #8, at least for now it'd be nice to have "marker-ness" be declared explicitly with `#[marker]`.

Here are some steps to do this:

We want to model this on the support for `#[auto]` trait decl

[2017-10-22 11:07] nikomatsakis commented on #62
cc @mikeyhew

cc @withoutboats -- do you think further changes are needd in coherence?

[2017-10-22 11:07] nikomatsakis commented on #8
I wrote up the steps to add `#[marker]` in #62. I'm going to close this now that we landed @mikeyhew's PR.

[2017-10-22 11:07] #8 closed

[2017-10-22 11:08] nikomatsakis commented on #15
Yeah I think this is a silly bug to keep open.

[2017-10-22 11:08] #15 closed

[2017-10-22 12:46] lqd commented on #62
I'd like to try this if that's ok :)

@nikomatsakis to add the keyword to the parser, should we ensure `#[auto]` and `#[marker]` can or can't be used at the same time ? (maybe it doesn't matter).

Should we also add the `#[marker]` attribute to the other marker traits in the solver tests ?

btw I quickly prototyped the steps in the issue, and indeed nothing more seems to be needed to solve the pro

[2017-10-22 18:14] mikeyhew commented on #62
@lqd I was going to take this on, but I'm already busy with an issue from rust-lang/rust, and you seem to have a good idea of what needs to be done here, so go for it :) When I'm finished with the compiler issue, I'm sure @nikomatsakis will have more issues to work on for chalk.

`#[auto]` and `#[marker]` can both be used at the same time – think of `Send` and `Sync`. As for adding `#[marker]` to

[2017-10-22 20:32] lqd commented on #62
@mikeyhew thanks for the comment ! As you mentioned, `partial_overlap_3` indeed passes successfully with #64

[2017-10-24 23:20] #62 closed

[2017-11-01 15:15] fabric-and-ink commented on #58
@Garogolun are you still on it? If not, I am interested in picking this up 🙂

[2017-11-01 16:01] Garogolun commented on #58
@fabric-and-ink I'm actually on it right now. :smile: Should have something soon.

[2017-11-03 08:09] nikomatsakis commented on #58
OK, this is done.

[2017-11-03 08:09] #58 closed

[2017-11-10 16:32] mikeyhew opened #70 "StreamingIterator code panics with "zipping things of mixed type""
The following program panics with the error message "zipping things of mixed type", after outputting `a = '?0, b = Array3<i32>`.

[code]

output including backtrace

[code]

[2017-11-20 07:11] mikeyhew commented on #70
I just realized, the `a = '?0, b = Array3<i32>` that was output is from a `println!()` statement I added to figure out what was going on (and then subsequently forgot about). This diff shows exactly what it's printing out:

[code]

[2017-11-22 21:04] mikeyhew commented on #10
I'd like to work on this :) can you add some notes on how to do it?

[2017-11-22 22:06] mikeyhew opened #71 "impl SuperTrait for T: SubTrait does not work"
The following works in Rust, but not in Chalk:

[code]

For the goal `i32: DynSized`, Chalk currently returns "No possible solution", and it should return "Unique".

[2017-11-22 22:08] mikeyhew commented on #71
It looks like this is an instance of #12

[2017-11-22 22:10] scalexm commented on #71
@mikeyhew Yes, this is somehow a known bug, because of implied bounds not being completely implemented at the moment.

[2017-11-22 22:13] mikeyhew commented on #71
@scalexm what do you mean by "implied bounds"?

[2017-11-22 22:16] scalexm commented on #71
I mean things like "if `T` implements `Sized`, then `T` necessarily implements `DynSized`". For these kinds of affirmation to be correct, we must add some requirements on impls (called *well-formedness* requirements). Currently, these requirements are too restrictive, hence your code is not being accepted.

[2017-11-22 22:27] mikeyhew commented on #71
@scalexm the above code _is_ accepted by chalk. I guess it just ignores it though?

[2017-11-22 22:30] mikeyhew commented on #71
@scalexm I tried out your implied-bounds branch, but didn't notice any changes with the above code :/

[2017-11-22 22:40] mikeyhew commented on #71
@scalexm Oh, I see... I saw that @nikomatsakis was reviewing it, and assumed it was otherwised good to go :smile:

[2017-11-22 22:41] mikeyhew commented on #71
I'm gonna close this, since it is a duplicate of #12

[2017-11-22 22:41] #71 closed

[2018-01-01 21:36] LifeIsStrange opened #72 "Will/could chalk allow rust to support logical programming ?"
I've read that chalk will be used internally by rustc for many things, but I Wonder if there is any plan for adding to rust (not only MIR) full/partial support for the logical programming paradigm?
https://en.wikipedia.org/wiki/Logic_programming?wprov=sfla1

I feel like this paradigm offer many possibilities (AI, etc) but it is not widely used because there is no great language and fast language t

[2018-01-13 12:28] nikomatsakis opened #74 "fallback clauses considered harmful / how to handle projection equality"
In working on https://github.com/rust-lang-nursery/chalk/pull/73, I encountered a problem with the concept of a "fallback clause", which is currently a key part of how we handle normalization. The idea of a fallback clause is that it is a clause that we use if no other clauses apply. That seems fine but it's actually too weak: we wind up coming up with "unique" solutions that are not in fact uniqu

[2018-01-15 11:24] nikomatsakis commented on #74
I am reminded that what I have really wanted to do for some time is to handle projection equality during **lowering**. Specifically, I'd like to lower an impl like this:

[code]

to a clause like this:

[code]

right now, we detect this "dynamically" by rewriting equalities between projections as we unify. I'd prefer for unification to be simple. This keeps the solvers simple.

The main reason I'v

[2018-01-17 10:46] nikomatsakis commented on #74
OK, I fixed the problem with the SLG solver. Instead of unifying the "pending goal" with the result from a query, we now take the values directly from the answer substitute and substitute them into the pending goal. This is more efficient to boot.

[2018-01-17 10:48] nikomatsakis commented on #74
I also fixed the problem with the recursive solver by changing how we elaborate, which is kind of hacky but then again implied bounds need some care anyhow.

[2018-01-20 12:30] #74 closed

[2018-02-05 01:17] nikomatsakis commented on #12
OK, so, @scalexm and I were talking about this. I am going to write up the idea as I understand it -- we ultimately adopted somewhat different terminology that I found helpful -- and then walk through an illustrative example.

First, the terminology:

- `Implemented(T: Trait)` -- the type `T` is known to implement the trait  `Trait`
    - this could be from an impl or by hypothesis
- `WellFormed(T

[2018-02-05 01:20] nikomatsakis commented on #12
@scalexm

Regarding this limitation, there is some work on recognizing such cycles and creating a richer notion of inductive hypothesis (as you probably recall). But I'm having trouble coming up with what could be a valid impl exactly or scenario where this limitation is problematic -- do you have any ideas?

[2018-02-05 10:50] nikomatsakis commented on #72
There's not really a plan for that thus far =) but I guess anything is possible!

You may be interested in <https://github.com/wartman4404/rust-kanren>. I've not looked closely at it but in general the MiniKanren series of projects aim to embed logic programming in other languages.

[2018-02-05 10:50] #72 closed

[2018-02-05 10:51] nikomatsakis commented on #70
That is indeed a bug, though it may be that the bug is in the input. Chalk doesn't do that much sanity checking just now.

[2018-02-05 10:56] nikomatsakis opened #79 "On-demand solver does not support simplification of delayed literals"
One thing that the on-demand solver does not support yet is **simplification** of delayed literals. In the case of negative loops we sometimes have to delay processing a given literal, and simplification is what comes back in the end to clean up the mess.

It's not clear how imp't this is: it an only arise with negative cycles, which are not yet possible in Rust since negative clauses never appear

[2018-02-05 11:00] nikomatsakis opened #80 "On-demand solver should select normalizations first"
The on-demand solver, when faced with an X-clause, currently always selects the "last" literal in the list. This is pretty silly. It would be smarter to look for literals that are closer to being solved, and maybe make some heuristics that look at the traits involved.

I think it might be useful to have a rough idea of the "inputs" and "outputs" from given domain goals (many prologs have modal ann

[2018-02-05 11:28] nikomatsakis opened #81 "On-demand solver can often stop sooner"
Currently, when asked to `solve`, the on-demand solver requests answers until the aggregate result becomes "trivial" (i.e., no information is gained). This occurs in `make_aggregate`:

https://github.com/rust-lang-nursery/chalk/blob/b0d1417104ccdc52a72b96d2fe89e56a1e284e13/src/solve/slg/aggregate.rs#L15-L20

Notably right here:

https://github.com/rust-lang-nursery/chalk/blob/b0d1417104ccdc52a72b9

[2018-02-05 19:59] scalexm commented on #70
I think that this is indeed a bug (I encountered it as well), which seems to occur when dealing with higher kinded associated types. The fix I guess is just to change the `panic!` message into a `return Err(NoSolution);`.

[2018-02-05 20:01] nikomatsakis commented on #70
That sounds suspicious to me! Is it possible to reduce the test case at all?

[2018-02-05 20:03] nikomatsakis commented on #70
I don't actually get this result:

[code]

[2018-02-05 21:26] lqd commented on #70
I have this error before and I *think* — that is to say, if I've bisected correctly :) — that it was recently fixed by removing the fallback clauses https://github.com/rust-lang-nursery/chalk/commit/c92c25da1c588c6f0891f731b9bd2189e8c08d65

[2018-02-08 11:19] #11 closed

[2018-02-08 11:52] scalexm commented on #70
The bug at the origin of this issue was still there though, but was fixed in #82.

[2018-02-08 17:59] mikeyhew commented on #70
Since this issue has been closed, I tested out the above code with the current version of chalk, and indeed it no longer panics. Instead, it outputs "error: trait impl for "IntoStreamingIterator" does not meet well-formedness requirements".

Does anyone know why it is not well-formed, and what would need to be changed to make it well-formed?

[2018-02-08 18:18] scalexm commented on #70
The recursive solver has some problems with projection types, try with the option `--solver slg`, it will work *if* you replace unselected projections (e.g. `S::Item<'a>`) with explicit projections (e.g. `<S as StreamingInterator>::Item<'a>`). However, it seems like there is still a bug with unselected projections.

[2018-02-08 18:21] scalexm commented on #71
@mikeyhew PS: it works now

[2018-02-08 18:40] mikeyhew commented on #70
@scalexm no dice. The following two examples both produce the same well-formedness error message, even with `--solver slg`.

[code]

[code]

[2018-02-08 18:44] mikeyhew commented on #71
@scalexm Sweet!

[code]

[2018-02-08 18:50] scalexm commented on #70
There's still `Self::IntoIter` which should be changed to `<Self as IntoStreamingIterator>::IntoIter`. So forgetting about the bug with unselected projections which does give a `zipping things of mixed kind` panic and which I'm currently fixing, unselected projections only work if you explicitly add an `InScope` assumption, for example:
[code]
However, since well-formedness requirements are enforc

[2018-02-08 20:16] scalexm opened #85 "Missing a fallback rule for unselected projections?"
So given:
[code]
then the goal `forall<T> { if (T: Foo, InScope(Foo)) { T: Foo<Item = T::Item> } }` or equivalently, `forall<T> { if (T: Foo, InScope(Foo)) { <T as Foo>::Item = T::Item } }` answers `No possible solution`.

It seems like a "fallback" rule (i.e. which would normalize `<T as Foo>::Item` to `T::Item`) is missing.

[2018-02-08 23:30] mikeyhew commented on #70
@scalexm good point, I replaced `Self::IntoIter` with the explicit version and it worked

[2018-03-07 13:08] nikomatsakis commented on #85
I have to admit I didn't look or think about unselected projections very carefully. I would not expect a normalize rule, more like some equivalent to `ProjectionEq`.

[2018-03-08 05:23] Phlosioneer opened #88 "Introduction or explanation at all?"
I know this is supposed to be more-or-less a typesystem for rust.
I know this is a Prolog-like language.
I know how to use Prolog decently well.
I want to help.
I especially want to help write documentation.

But:
- There's no documentation on how to use the command line interface. No help command or anything.
- The `--help` option mentions a `.chalk` file, but there's no explanation anywhere of h

[2018-03-08 05:26] Phlosioneer commented on #88
Oh, I've found libstd.chalk. It's a start, I guess, but some answers to the above would still save me a lot of time and print statements.

[2018-03-08 07:29] Garogolun commented on #88
`chalk` implements the trait system of Rust in a different (and cleaner?) way than the Rust compiler itself. Since it is a complex and non-trivial part of the compiler, it is good to have a separate "reference" implementation.

A `.chalk` file is a stripped down version of Rust code where only types, traits and impls are declared (without actual code). Given the `.chalk` file, `chalk` can answer q

[2018-03-08 07:57] Phlosioneer commented on #88
Alright, awesome! I'll take a look at the `.lalrpop` file (that extension is a mouth-full XD). I've already put up a PR for the first file I tackled, `bin/chalki.rs`. Feedback is welcome!

The one major thing I don't understand yet is how to specify parameterized types as goals. Normally for something like prolog, I can type in `property(1, 6, A, B)` and it'll spit out all values of `A` and `B` th

[2018-03-09 07:35] Garogolun commented on #88
Prolog implicitly places quantifiers around your statements (universal ones around rules and existential ones around questions). In `chalk` you need to explicitly specify them. For example,

[code]

Note that although Prolog normally tries to find _all_ possible solutions, `chalk` tries to find a unique solution. I am not sure about this, but I think `chalk` never finds a non-unique solution. This

[2018-03-10 08:35] fabric-and-ink commented on #88
Well I think Nico's blog posts which are linked in the Readme are a good start. I work on a glossary of important terms. So I would not say there is _nothing_, it is just a bit scattered. After I finished the next iteration of the glossary I will start a "book" where everything will be gathered. It's a young crate so there is a lot to do. And I'm slow because I am overworked. But that is another t

[2018-03-10 08:39] #41 closed

[2018-03-10 08:40] fabric-and-ink commented on #41
I plan to start a mdbook and will open a separate issue for that when I am ready.

[2018-03-10 11:13] Phlosioneer commented on #88
Thanks for your help. I think I've got a hang of this now, and am working on more documentation, which I'll be pushing to my PR in the next few days.

[2018-03-10 11:13] #88 closed

[2018-03-12 18:57] nikomatsakis commented on #81
### Background notes

Here are some notes on what we would want to modify. The basic idea is to extend the interface that the forest uses to give back answers: right now it's just an iterator. I'd like to add an extra method that lets us provide a substitution and find out if there are any available strands that might lead to a result that is not unifiable with the current substitution.

The curre

[2018-03-12 18:58] nikomatsakis commented on #81
### Step 1

The first step then would be change the type of this argument:

https://github.com/rust-lang-nursery/chalk/blob/82a8472ca9f6756d160b639dfc68f6a69076b716/src/solve/slg/implementation/aggregate.rs#L18

The "iterator" is currently provided by `Forest::iter_answers`:

https://github.com/rust-lang-nursery/chalk/blob/82a8472ca9f6756d160b639dfc68f6a69076b716/chalk-slg/src/forest.rs#L60-L67

P

[2018-03-12 18:59] nikomatsakis commented on #81
### Step 2

Then we can extend the trait with a new method like

[code]

[2018-03-12 19:44] nikomatsakis opened #90 "remove recursive solver"
It seems like it's time to get rid of Chalk's "recursive" solver and commit to the on-demand SLG solver. It's basically strictly better at this point.

The recursive solver code is found here:

https://github.com/rust-lang-nursery/chalk/tree/master/src/solve/recursive

We'll also want to remove this `SolverChoice` variant:

https://github.com/rust-lang-nursery/chalk/blob/82a8472ca9f6756d160b639dfc

[2018-03-12 19:44] nikomatsakis commented on #90
cc @rust-lang-nursery/wg-traits -- simple way to get acquainted with chalk code

[2018-03-13 10:20] nikomatsakis opened #92 "🔬 model open vs closed world"
In @aturon's epic blog post [Negative reasoning in chalk](https://aturon.github.io/blog/2017/04/24/negative-chalk/), he described using modal logic to model coherence. This seems like a great idea, but we've not done it in chalk. Let's get it done!

I guess the first thing to narrow down is just what we want. The overall goal is that certain kinds of negative queries fail. This is roughly correspo

[2018-03-13 10:21] nikomatsakis commented on #92
cc @Garogolun -- you had expressed interest in this

[2018-03-13 10:24] nikomatsakis commented on #92
My hope was that we could model this without touching the core solver. Roughly speaking my idea was to build on the notion of external types/traits that @lqd added in https://github.com/rust-lang-nursery/chalk/pull/86.

Let's posit that we have a `External(Type)` predicate that is true if the given type is external, and that we have a special `OpenWorld` domain goal (along with the existing, speci

[2018-03-13 13:34] nikomatsakis commented on #80
This is where we select the next goal to pursue:

https://github.com/rust-lang-nursery/chalk/blob/fa1837ed99260f01f1ad5f1978cc88644f06c9ed/chalk-slg/src/logic.rs#L369-L376

Right now, the SLG solver doesn't really know anything about the content of the domain goals, so we'd probably want to add some sort of callback to let it sort. The simplest thing would be to assign each domain goal a priority

[2018-03-13 18:41] nikomatsakis opened #94 "extend the definition of "clause" that chalk uses"
The first-order hereditary harrop predicates that Chalk uses allow for a fairly flexible definition of program clause:

    Clause = DomainGoal | Clause && Clause | Goal => DomainGoal | ForAll { Clause }

The intention then is that implications in `Goal` can reference these clauses in their full generality:

    Goal = ... | Clause => Goal | ...

However, Chalk currently uses a rather simpler defi

[2018-03-13 18:41] nikomatsakis commented on #94
cc @rust-lang-nursery/wg-traits -- another good chalk starter issue! I've laid out the steps involved.

[2018-03-14 08:34] #90 closed

[2018-03-15 07:04] PramodBisht commented on #94
@nikomatsakis can I take this one if this is not fully implemented or nobody is working on this?

[2018-03-15 17:44] nikomatsakis commented on #94
@PramodBisht expressed interest in taking this on

[2018-03-19 18:48] varkor opened #98 "Const generics"
With work on [const generics underway in rustc](https://github.com/rust-lang/rust/issues/44580), we'll want to make sure Chalk also supports them.

I've started looking into this [here](https://github.com/rust-lang-nursery/chalk/compare/master...varkor:const-generics), starting off [by extending `ParameterKind`](https://github.com/varkor/chalk/blob/eba01aad7341d0baf47ba5f259247f0befef8d1f/chalk-pa

[2018-03-25 07:17] PramodBisht commented on #94
@nikomatsakis seems like it is more tough for me than I expected, after replacing `DomainGoal` with `Clause`(enum), I found myself replicating what `DomainGoal` is doing, for example changing `DomainGoal` type to `Clause` at many places. I am getting feeling that I am not wrong track. Even if this is the expected path, I assume we have to do some magic in `push_initial_strands` to add support of `

[2018-03-27 14:20] leodasvacas opened #104 "Modeling coercions"
A description of what coercions do can be found in [the reference](https://doc.rust-lang.org/reference/type-coercions.html) and [the nomicon](https://doc.rust-lang.org/nightly/nomicon/coercions.html).

In many places Rust only requires that one type coerces to another, but there is no way to explain that to the inference engine which only understands type equality. So if there are multiple types b

[2018-03-27 20:29] leodasvacas opened #105 "A deref obligation"
Deref is not well integrated into typeck, all derefs must be eagerly checked causing problems even in a simpe program such as:
[code]
The type of `a` will not be inferred because derefs error if they find a type variable. There are probably good reasons of why this difficult to support, but hopefully chalk has a better chance at supporting derefs as obligations. I'll start by implementing `Deref`

[2018-03-28 09:30] #94 closed

[2018-03-29 14:44] scalexm commented on #12
cc @nikomatsakis, @withoutboats

## Plan for GATs

OK so we still need to figure out how to translate bounds on GATs, especially when it comes to WF requirements and implied bounds. Here's what I've come up with.

So let's write a fully general GAT example:
[code]
and let us step directly onto the general rules, we'll see a simpler example later.

### Projecting
We have two rules for projecting:
[

[2018-03-29 17:52] nikomatsakis commented on #12
After some live discussion with @scalexm, it *seems* like we ought not to need the `X: Sized` and `T: Clone` bounds here, because knowing that the argument type is WF ought to let us infer them:

[code]

but we're not 100% sure how to set that up =)

[2018-04-02 21:48] nikomatsakis commented on #81
I think there are still cases where we can do better, but I'm gonna close this for now. Nice job @aatxe !

[2018-04-02 21:48] #81 closed

[2018-04-02 21:50] nikomatsakis commented on #81
In particular, just for posterity, right now we scan the active strands of the top-most goal, but it's possible for there to be an active strand like:

    ?T: Foo :- [?T: Bar @ 2]

where the `[G @ 2]` is my ad-hoc notation to indicate the selected subgoal (say, with answer 2). Right now, we would treat this answer as if it could produce any type. But if we were to peek at the table for `Bar`, we

[2018-04-05 13:47] nikomatsakis commented on #92
@Garogolun plans to hack on this!

[2018-04-12 20:55] nikomatsakis opened #111 "figure out why we get ambiguity for this futures example"
Given the traits/types found in this gist:

https://gist.github.com/nikomatsakis/58717b0588393ca14f2d6168e7c86188

Why do we get ambiguity here?

[code]

Note that if we (hackily) don't force the solver to give us back a result for `I` and `E`, we get `Unique` as expected:

[code]

cc @scalexm, who wanted to investigate this

[2018-04-30 19:17] nikomatsakis opened #114 "refactor chalk lowering"
Chalk lowering grew rather organically and is kind of a mess. It should be separated out into distinct modules and phases. There was some [recent discussion][rd] from the WG-traits gitter channel laying out some of the problems and ideas.

[rd]: https://gitter.im/rust-lang/WG-traits?at=5ae76ad8c3072ad76f1ebbea

[2018-05-01 13:55] scalexm opened #115 "Re-think the `WhereClauseAtom` abstraction"
After GATs are implemented and if everything goes well, we won't need `WellFormed(WhereClauseAtom::ProjectionEq)` abstraction, defeating the initial purpose of the `WhereClauseAtom` abstraction.

I propose that we instead re-use `WhereClauseAtom` to include every where clause that can **effectively** be written by a Rust programmer, e.g. it should include:
* `Implemented(T: Foo)`
* `ProjectionEq(<

[2018-05-01 13:56] scalexm opened #116 "Implement GATs"
## Step 1
The grammar needs to be extended to support bounds and (quantified) where clauses on associated types like in:
[code]

The grammar is located [parser.lalrpop](https://github.com/rust-lang-nursery/chalk/blob/master/chalk-parse/src/parser.lalrpop), and the AST in [ast.rs](https://github.com/rust-lang-nursery/chalk/blob/master/chalk-parse/src/ast.rs).

When this is done, this item:
https://

[2018-05-02 09:12] #114 closed

[2018-05-08 16:19] nikomatsakis commented on #92
cc @Garogolun -- I haven't heard from you, I think @sunjay is going to take a few steps here though.

[2018-05-08 18:02] nikomatsakis commented on #92
OK, so. @sunjay, in terms of background reading, I would recommend [RFC 1023](https://rust-lang.github.io/rfcs/1023-rebalancing-coherence.html), which covers the basic idea and rationale here.

It appears that we have already a field `external` that marks structs or traits:

https://github.com/rust-lang-nursery/chalk/blob/b953f83c81d6737d5f717a45fde6c6f212751a35/chalk-parse/src/ast.rs#L35-L37

We

[2018-05-09 03:18] ids1024 opened #121 "README doesn't make it clear exactly what chalk is"
This makes it sound like a (relatively) general-purpose logic programming language, perhaps with a fairly Prolog-like syntax, that would be useful for the Rust compiler, and possibly unrelated purposes.

Looking at [`libstd.chalk`](https://github.com/rust-lang-nursery/chalk/blob/master/libstd.chalk) however, shows this is not the case, since it's input is (a subset of) Rust syntax, and not some ge

[2018-05-10 12:33] scalexm commented on #115
Also when this is done we'll be able to clean up the grammar a bit, and support inline bounds (e.g. `imp<K, T: Foo<K>> SomeType<T>`) in a clean way.

[2018-05-13 02:05] tmandry commented on #12
Looking at the current implementation in Chalk, I believe the `Implemented(Self as Foo)` condition ought to be moved from the `WellFormed` rule to the fallback rule, as follows:

[code]

Since `<T as Foo>::Item` will unify with `(Foo::Item)<T>` only if `T: Foo`, our WF clause is correct.

Is there any reason to do it one way or another?

[2018-05-13 07:34] scalexm commented on #12
Actually this has been longly discussed :)
If you put it on the fallback clause instead of the WF clause, this allows for a slight inconsistency within implied bounds. That is, let’s say `Implemented(Self: Foo)` is on the fallback rule, and consider this function:
[code]
The `foo` function assumes all its inputs are WF. Especially, it assumes that `<X as Foo>::Item<T>` is WF (note that this is the

[2018-05-14 16:46] tmandry opened #126 "Change order of implicit type parameters"
Implicit type parameters (like `Self` and others from the env) are put into a lowered item after the explicit type parameters, which is surprising.

For example, the following test fails:
[code]

Instead of the expected result, we get `[?0 := i32, ?1 := u32]`, which is technically correct because our GAT parameter `U` is mapped to `?0` and `T` is mapped to `?1`. But there's no way to see this from

[2018-05-14 18:10] leodasvacas commented on #80
I imagine that if we had a dependency graph for goals, we could have rustc error messages only report the minimal set of obligation failures that need to be fixed for the code to compile.

[2018-05-23 21:09] scalexm commented on #115
And also add missing items like `FromEnv

[2018-05-23 21:13] scalexm commented on #116
Follow-up (should be straightforward): support quantified bounds on GATs, both in the grammar and in the rules, e.g.
[code]

[2018-05-24 21:03] scalexm commented on #116
(Reopening because of the follow-up)

[2018-05-28 18:35] #115 closed

[2018-06-03 16:43] scalexm opened #144 "Weird bug around projections"
Given the following traits:
[code]
and the following goal:
[code]
we give `No solution` whereas this should be `Unique`. Note that if we remove the generic parameter from `Item`, this works fine.

Basically at some point, the projection type `<T as Foo>::Item<U>` fails to unify with the skolemized type, as we can see in the debug log:
[code]

Note that the following answers `Unique` as expected:
[

[2018-06-03 16:53] scalexm commented on #144
It seems related to the fact that `U` is unused when proving `<T as Foo>::Item<U>: Bar`. For example, the following goal answers `Unique` as expected:
[code]
[code]

[2018-06-04 18:09] scalexm commented on #144
Ok the funny thing is that this goal:
[code]
(note that `T` and `U` are reversed) answers `Unique` =)

Basically, in the setting described in my first comment, we are looking for a type `?0` which satisfies:
[code]
so `?0` gets to unify with `!2` but the problem is that `?0` is in universe `U1` so it fails... Hence if the variables are reversed, this works. I don't really know what to think about

[2018-06-04 19:35] leodasvacas opened #147 "Allow a universe to bind many names"
In rustc we allow an universal binder to bind more than one name, such as `for<'a, 'b> fn(&'a u32, &'b u32)` were both `'a` and `'b` have a DeBruijn index of `0`. In chalk we also allow you to write that, but when moved into the environment `'a` and `'b` will have distinct universes (see `fn instantiate_binders_universally` and `unify_forall_tys`).

Currently chalk represents universal type in the

[2018-06-04 23:17] nikomatsakis commented on #144
OK, let me try to spell out what is happening. I see the problem that @scalexm specified:

- we start out wanting to solve `!1: Foo => <?0 as Bar>::Item<?1> = ?2, ?2: Bar`
- we go seeking a solution to `!1: Foo => ?0: Foo`
  - this is u-canonicalized to have `?0` in `U1`, since `U2` is not relevant
  - `u_canonicalization` puts `?0` into `U1`, since that is the maximal universe we can see
  - we t

[2018-06-05 18:35] nikomatsakis commented on #144
@scalexm and I were talking about the bug that I am afraid in #wg-traits on Discord (GUID b713dffa-1603-43c9-8418-3dc11979487c, that marks the end).

[2018-06-19 20:51] #116 closed

[2018-06-30 14:30] theotherphil opened #161 "Add a reading list"
There are a few references to papers scattered through Niko’s blog posts. It would be helpful to have a single list containing those papers and whatever other books or papers Chalk contributors are drawing inspiration from.

Edit: ah, it looks like the comments in chalk-engine/src/lib.rs provide at least a partial list.

[2018-07-25 09:23] scalexm opened #168 "Use the `failure` crate"
Since the `failure` crate is the new cool way to handle errors (and I definitely agree that it is an improvement over `error_chain`), I think we might want to move to using this crate instead.

[2018-07-26 20:04] sunjay commented on #92
@nikomatsakis I think this is completely done now. :tada: :smile:

[2018-07-29 03:54] #92 closed

[2018-08-01 08:38] scalexm commented on #12
@nikomatsakis there is a bug in the implied bounds rule for GATs as described above, I think it should be:
[code]
also @LukasKalbertodt raised interesting ergonomic questions and I don’t feel completely at ease with my answers, we should discuss this some more.

[2018-08-10 19:48] nikomatsakis commented on #10
Done by @sunjay 🎉

[2018-08-10 19:48] #10 closed

[2018-08-10 20:04] sunjay commented on #10
Nice! :tada:

[2018-08-13 00:17] memoryruins opened #169 "subgoal_abstraction test fails on windows"
Currently, Chalk fails to build locally and on [travis](https://travis-ci.org/rust-lang-nursery/chalk/builds/412805989) with the following error:
[code]

I'm guessing this due to some recent changes in https://github.com/rust-lang/rust/issues/48075, so I swapped the ``?``s with ``*``s.
Chalk successfully builds and runs after the change; however, it fails the following test
https://github.com/rust

[2018-08-15 21:44] eddyb commented on #169
Can you try a nightly from a month or so ago, one that supports `?`, that is?
Then you can see if the test fails the same way.

[2018-08-16 01:11] memoryruins commented on #169
July 23, 2018
**chalk**: [Updating dependencies](https://github.com/rust-lang-nursery/chalk/pull/166) - pr opened, builds and passes tests on travis

July 24, 2018
**rustc**: [2018 edition `?` Kleene operator](https://github.com/rust-lang/rust/pull/51587#event-1750742018) - merged into rust master. Most likely not included in ``nightly-2018-07-24``, since I believe most nightlies are built a day b

[2018-08-16 02:41] memoryruins commented on #169
The above tests were using the ``x86_64-pc-windows-msvc`` toolchain.

When returning online with my laptop, which uses the x86_64-unknown-linux-gnu toolchain, I tried the tests again (expecting to look into the stack trace). While using ``*`` in the macro, Chalk built and the tests passed.

Opening a PR with the macro change to see if it passes on travis CI as well, since it is also using linux-gn

[2018-08-16 02:58] memoryruins commented on #169
Looks like I should've opened the PR to begin with. **It successfully builds and passes all tests on Travis CI**.

Time to put Chalk on appveyor as well? At least, someone else try to see if they can recreate it on ``x86_64-pc-windows-msvc``.

[2018-09-14 20:33] #147 closed

[2018-09-15 02:52] memoryruins commented on #169
Checking in on ``x86_64-pc-windows-msvc`` again.
``
rustc 1.30.0-nightly (2ab3eba30 2018-09-14)
``

Backtrace from running ``cargo test``:
<details>

[code]
</details>

[2018-09-16 03:05] memoryruins commented on #169
It's most likely an issue of the cpu on the windows machine I was testing on, rather than the toolchain itself.

https://github.com/rust-lang-nursery/chalk/blob/8b7284b61879d909e359436d76ca42e64f2cd114/chalk-engine/src/lib.rs#L314-L326

Since it appears already expected that stacker settings might be tweaked, and the original issue was sorted, closing this.

[2018-09-16 03:05] #169 closed

[2018-09-20 02:35] memoryruins commented on #161
Various links for anyone else coming across this issue:

The Rustc Guide contains a [Trait solving (new-style)](https://rust-lang-nursery.github.io/rustc-guide/traits/index.html) section, which includes a [bibliography](https://rust-lang-nursery.github.io/rustc-guide/traits/bibliography.html) listing some background material.

From the bibliography, [A proof procedure for the logic of Hereditary H

[2018-09-22 16:45] arielb1 commented on #12
Some comments from IRC that someone might want to document permanently:
[code]

[2018-11-04 16:04] scalexm opened #189 "`ExClause<C>` is not covariant over `C`"
https://github.com/rust-lang-nursery/chalk/blob/e9c0a34dff162848f361f0f54ca3aab750ff4683/chalk-engine/src/lib.rs#L109-L123

Not covariant over `C` because of the various projections. The problem is that in rustc we'd need `ExClause<ChalkArenas<'gcx>>` to be a subtype of `ExClause<ChalkArenas<'tcx>>` (where `gcx: 'tcx`).

[2019-01-08 21:35] nikomatsakis opened #198 "enforce cargo fmt for PRs"
We should require all PRs to use rustfmt.

[2019-01-08 22:07] scalexm commented on #198
We should also run a rustfmt on the code base I guess. At least it will probably not annoy anyone with merge conflicts, unlike with rustc :)

[2019-01-14 20:18] nikomatsakis commented on #80
We discussed this some [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/chalk.20.2380.20smarter.20subgoal.20selection). The rough design we are thinking of is as follows:

- Extend the `InferenceTable` trait, or else add a new `SelectionOps` trait
- It should contain a method `fn subgoal_index(&mut self, &ExClause<I>) -> usize` that selects the subgoal to process fr

[2019-01-14 20:30] tmandry opened #201 "Express chalk stages in terms of salsa"
We want to express the processing stages of chalk in terms of salsa queries. For example, the first time we want to perform a query on the program, the succession of dependent queries might look roughly like this:

- Perform query on program
  - Get program clauses for program
    - For each item in the program, get the lowering rules for item X
      - Get the lowered chalk IR for item X

[2019-01-14 20:31] tmandry commented on #201
#197 introduces salsa with one big coarse-grained query, and further PRs will split this into more fine-grained queries.

[2019-01-16 21:30] #198 closed

[2019-01-20 19:02] scalexm opened #203 "Trait objects"
We need to design rules for the well-formedness of trait objects that address the soundness issue https://github.com/rust-lang/rust/issues/44454 and that are future-proof under implied bounds.

In what follows, we'll write `dyn Trait` to actually denote `dyn Trait + 'a` for a placeholder lifetime `'a`, the rules will work regardless of `'a`.

## Trait objects in rustc
Say we have the following tra

[2019-01-22 18:42] nikomatsakis commented on #203
While reading this, I found myself wondering about [RFC 2027], which aims to tweak the rules around `dyn Trait` being "well-formed" a bit. Might be relevant. Have to go revisit the RFC first to decide =)

[RFC 2027]: https://rust-lang.github.io/rfcs/2027-object_safe_for_dispatch.html

[2019-01-22 19:01] scalexm commented on #203
@nikomatsakis I guess for that RFC, we could just move the `ObjectSafe` condition from the WF rules onto the generated impls (in the where clauses of the generated impls, presumably)

[2019-01-31 14:20] #168 closed

[2019-02-04 10:10] tmandry commented on #201
#202 did some splitting up of queries. Further work will most likely be done as part of another goal (e.g. specialization), so tentatively closing this issue.

[2019-02-04 10:10] #201 closed

[2019-04-16 12:18] nikomatsakis opened #212 "Refactor to remove `coinductive_traits` from `ProgramEnvironment`"
Currently the `ProgramEnvironment` struct has a field `coinductive_traits`:

https://github.com/rust-lang/chalk/blob/65de8b80f541f6052409433563b5d3d0344ad866/src/program_environment.rs#L7-L9

It is initialized here:

https://github.com/rust-lang/chalk/blob/65de8b80f541f6052409433563b5d3d0344ad866/src/query.rs#L182-L185

with a set that is just the set of all auto traits:

https://github.com/rust-l

[2019-04-16 17:57] #212 closed

[2019-04-16 18:33] nikomatsakis opened #214 "simplified crate reorg"
After pondering the comments by @matklad and others in our discussion, I propose the following crate organization. The idea is to merge the chalk-solve and chalk-rules crate, so that outside code only needs to instantiate a `Solver` with a `RustIrDatabase` (sometimes that supplies rust-ir), and everything else is handled internally to the `chalk-solve` crate. This seems simpler to explain and deal

[2019-04-16 20:20] mark-i-m commented on #214
Hi @nikomatsakis ! When you have time, could you take a quick look over https://github.com/rust-lang/rustc-guide/pull/298 (sorry if this is the wrong place to post). The reorganization has broken a lot of links in rustc-guide.

[2019-04-16 21:36] nikomatsakis commented on #214
I [left some notes on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/chalk.20crates/near/163509324) as to what it would mean if we just merged the chalk-solve and chalk-rules crates -- in particular what the transition plan would be. I'm sort of leaning that way, on the basis of "simpler is better".

[2019-04-16 21:51] nikomatsakis commented on #214
I updated the main comment to a newer, simpler proposal. The history of [this gist](https://gist.github.com/nikomatsakis/ae7b129b025f730952da891eee652711) logs the older proposal.

[2019-04-17 10:21] nikomatsakis commented on #214
(Note: I think @detrumi is working on this.)

[2019-04-19 17:28] nikomatsakis commented on #214
@mark-i-m we probably just broke a whole bunch of links again =)

[2019-04-19 20:09] mark-i-m commented on #214
Does it make sense to just wait until the refactoring subsides or will that take a long time?

[2019-04-19 20:12] nikomatsakis commented on #214
@mark-i-m there is one more step, I guess we might as well wait for that

[2019-04-19 20:12] nikomatsakis commented on #214
I was planning on -- once this is done -- trying to do a rustc-guide chapter on the final setup anyway

[2019-04-26 21:31] nikomatsakis commented on #105
Closing this for now. I think handling coercions is probably pretty squarely future work.

[2019-04-26 21:31] #105 closed

[2019-04-26 21:31] nikomatsakis commented on #104
Closing this for now, since I think modeling coercions ought to be left for future work.

[2019-04-26 21:31] #104 closed

[2019-04-26 21:44] nikomatsakis commented on #203
@scalexm and I discussed RFC 2027 [on Zulip here](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/object.20safe.20for.20dispatch.20.2357545/near/163751974). We came to the conclusion ([roughly around here](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/object.20safe.20for.20dispatch.20.2357545/near/163755549)) that it should be compatible, but we have t

[2019-04-29 20:28] nikomatsakis opened #217 "non-enumerable goals"
One of the challenges we've found with our chalk solver strategy is selecting the search order. Imagine we have a setup like this (using a kind of short-hand):

[code]

Now, given a query like `Foo(?T)`, it's clear that it would be best to first try and solve `Bar(?T)`. That would yield up a single answer (`[?T := Option<u32>]`), and we can readily validate that this type is sized. If we were so u

[2019-04-29 20:59] nikomatsakis opened #218 "add basic support for `dyn Trait` and `impl Trait`"
**Status:** @KiChjang is working on the first steps.

---

The goal here is to extend chalk with basic support for `dyn Trait` and (opaque) `impl Trait` types. This involves a few steps:

- [x] extend chalk-parser to support `dyn` and `impl` syntax, along with the ast
- [x] extending `chalk-ir` to be able to represent such types
- [x] extending `chalk-solve` so that when we have to prove something

[2019-04-29 21:10] nikomatsakis commented on #218
## Mentoring instructions for extending chalk-parser

To be written

[2019-04-29 21:14] nikomatsakis commented on #218
## Mentoring instructions for extending chalk-ir

Extending chalk-ir should be *relatively* straightforward, though there are some interesting raised by it. I think we want to extend the `Ty` type:

https://github.com/rust-lang/chalk/blob/6fd1808896bd5c6ec7cdfcedaa96b6939f7881d5/chalk-ir/src/lib.rs#L217

to include two new variants, `Dyn` and `Opaque`. These probably look like:

[code]

These are

[2019-04-29 21:16] nikomatsakis commented on #218
cc @scalexm -- I forget, how much of this did you do in https://github.com/rust-lang/chalk/pull/200 ?

[2019-04-29 21:18] nikomatsakis commented on #218
(Also, the mentoring instructions here are fairly sketchy, consider it as future work)

[2019-05-01 11:25] KiChjang commented on #80
With #193 merged, we have extended InferenceTable to contain a method named next_subgoal_index, but still haven't figured the specifics of which goal to prioritize/deprioritize.

[2019-05-03 09:17] KiChjang commented on #218
Has anyone started working on this? If not, I'd like to try and take a stab at this.

[2019-05-03 18:53] nikomatsakis opened #219 "support "specialized" impls"
This is a step towards full support for specialization (#9). This particular step sidesteps some of the trickier bits of specialization (in particular, it sidesteps the parts related to regions and soundness). The goal is this:

- If we know that impl A specializes impl B, adjust the logic to take that into account.

I'll try to post more detailed mentoring instructions, but here are some high-lev

[2019-05-03 19:00] nikomatsakis commented on #219
The basic idea then is to add a few sorts of domain goals:

- `RevealMode`
- `Overrides[Id](P0: Trait<P1..Pn>)` -- where `Id` is the identity of an associated type value.

We never generate program clauses for `RevealMode`. Rather, those are inserted into the environment by rustc.

`Overrides[Id]` would be generated by *specializing* impls. i.e., imagine this:

[code]

Impl B specializes impl A, s

[2019-05-03 19:50] nikomatsakis commented on #219
As @sunjay pointed out on Zulip, an obvious first step is:

Extend the parser to support `default type Foo = Bar` inside of an impl; that should be a flag on the [associated type value](https://github.com/rust-lang/chalk/blob/3238c6d0bc7d09b6eebe069ebd47dfabae787082/chalk-parse/src/ast.rs#L142-L147).
-

[2019-05-03 19:53] nikomatsakis commented on #219
Presently we have code to build a specialization forest:

https://github.com/rust-lang/chalk/blob/3238c6d0bc7d09b6eebe069ebd47dfabae787082/chalk-solve/src/coherence.rs#L77-L78

In order to figure out which impls specialize which other ones, I think for now we'd probably build on that, but we have to think about how to do it. This gets to a related topic, I realize, which is that I think we want ch

[2019-05-03 19:58] nikomatsakis opened #220 "get tests working with nightly again, strip commas?"
If you run `cargo +stable test --all`, all the tests pass. If you run `cargo +nightly test --all`, they do not. This is because the details of `Debug` formatting changed: there are now trailing commas where there didn't used to be. We could edit all the tests, but I think maybe it'd be better to just modify the code that compares debug values to strip trailing commas =)

Example test failure:

[co

[2019-05-03 19:59] nikomatsakis commented on #220
[Zulip thread for discussion](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/chalk.20tests.20on.20nightly.20chalk.23220)

[2019-05-05 12:26] #220 closed

[2019-05-06 20:20] detrumi opened #224 "improve test organization"
Currently, the main Chalk is mainly an elaborate testing harness, which should be moved to a different crate. The tests themselves should then probably be moved to a `tests` directory.

First, clear out the main crate:
- [ ] Move the tests and test helpers to a new testing crate
- [ ] Move the repl (`chalki`) to its own crate
- [ ] Make `chalk-solve` the main crate (and call it `chalk`)

Then, org

[2019-05-06 22:29] matklad commented on #224
I'll also through in an idea of using test coverage marks:

https://github.com/rust-analyzer/rust-analyzer/blob/ef782adc293deb287128f005dbab2038ba3ccdc1/crates/test_utils/src/marks.rs

[2019-05-08 07:14] KiChjang commented on #218
I've opened #226 to further discuss the issues regarding the implementation on the chalk solver.

[2019-05-13 18:21] detrumi commented on #214
This issue can probably be closed now, since the last two steps have been completed.

[2019-05-14 16:19] mark-i-m commented on #214
Before you do, could you please update the broken links in the rustc-guide chapter?

[2019-06-03 18:24] nikomatsakis commented on #219
Given that we now have `default type Foo = Bar` parsing, I think the new steps are:

- Add a `RevealMode` and `Overrides` domain goal [as described in this comment](https://github.com/rust-lang/chalk/issues/219#issuecomment-489204802)
- Modify the lowering for `default type` to include the `Overrides` clause

These are relatively simple steps but they don't do anything interesting yet. The next st

[2019-06-10 18:05] #217 closed

[2019-07-01 19:15] sunjay commented on #219
The next steps are described in [this paper document](https://paper.dropbox.com/doc/Chalk-and-Specialization--AgEWIBFuX8r0ivXjYsji70cRAg-urrCptcGmI7PA4pYaF5yn#:uid=509442721140008699892992&h2=2019.07.01).

Summary of next steps:

- Create a `specialization_forest(trait_id)` query with [this code extracted](https://github.com/rust-lang/chalk/blob/201775c47e4cefeb71d7f415c605e09c02e33b22/src/query.r

[2019-07-26 17:04] Kinrany opened #232 "Re: Where does the name come from?"
Before I read this part of the README, I was sure `chalk` was named after [chalk]!

I think `chalk` is a cool name because [chalk] is a material (which makes it conceptually related to rust) and is commonly used for expressing thoughts on a blackboard.

Just wanted to share that the real etymology was surprising. Feel free to close this issue :)

[chalk]: https://en.wikipedia.org/wiki/Chalk

[2019-08-17 11:18] matklad opened #233 "Consider replacing failure with std::error"
I've noticed that chalk used failure for error handing, but I wonder if this is really necessary?

It seems like today, failure actually doesn't buy much over `std::error` (only backtraces) and that it hasn't become the goto error handing solution for rust, as it once was hoped.

[2019-08-17 12:17] shepmaster commented on #233
I'll recommend the [SNAFU crate](https://github.com/shepmaster/snafu/) to reduce some of the boilerplate of implementing `std::error::Error`. I've had positive interactions with the crate author in the past 😉.

[2019-08-17 12:37] matklad commented on #233
Yeah, I've also heard good things about SNAFU, but I wonder if error-helpers make sense in the context of chalk at all?

Like, chalk doesn't do IO, so all errors are "the input program is wrong", they are not "something randomly crashed 1000 frames deep in the guts of a framework".

[2019-08-23 18:14] flodiebold opened #234 "Ambiguity problems with associated types"
While handling associated types in rust-analyzer, I ran into two problems that I want to ask about. These are probably not related, so I can split this up if necessary, but I wanted to discuss them a bit first :slightly_smiling_face:

Number 1:
[code]
I'd expect this test to pass because the second `IntoIterator` impl should not have any effect at all here, but the result is instead ambiguous, bec

[2019-08-30 17:51] nikomatsakis commented on #233
@shepmaster is the idea of SNAFU that `derive(Snafu)` generates the selector names that sit alongside the enum?

[2019-08-30 17:52] nikomatsakis commented on #233
Must be, I guess

[2019-08-30 18:13] nikomatsakis commented on #234
Hmm so digging into number 1, something does indeed seem a bit wrong.

We wind up with these two program clauses:

[code]

I think what I'd *expect* is something like

[code]

In particular, inlining the where-clauses and conditions of the impl into the rule. @scalexm -- do you recall why we set things up the way we did?

[2019-08-30 18:33] nikomatsakis commented on #234
OK, looking at number 2, I see the problem you are highlighting. It does seem to be a shortcoming in the current "projection-eq" vs "normalization" scheme. Basically the problem here, as you said, is that we produce two answers:

[code]

and

[code]

The latter of which does (indeed) normalize to u32.

The thought I think initially was that getting back ambiguity here was ok, and that normally you

[2019-08-30 18:47] flodiebold commented on #234
Hmm, but how would we get forced down one path or the other? IIRC we don't get any further information back from Chalk about this, so I don't see how we'd make progress. So is it a matter of the `Solution` / `Guidance` not being detailed enough?

[2019-08-30 18:49] nikomatsakis commented on #234
Giving some more thought to number 2, it seems like we could pursue a different strategy. The idea would be something like this. First, perhaps we remove the idea of a "placeholder projection type". Then we only have projection types.

Now, if we find ourselves in a position where we have a projection type on exactly **one** side of a unification:

[code]

we can just convert that to a normalizati

[2019-08-30 18:51] nikomatsakis commented on #234
OK, I see the next challenge though =) In this case, we have an unresolved inference variable, so we can't decide which of these paths we need (of course).

[2019-08-30 18:55] shepmaster commented on #233
@matklad here are my thoughts:

"frames" and "stacktraces" should be the method of last resort for figuring out what went wrong. Instead, I like to think of a "semantic" stack trace. From other comments in the SNAFU repo:

I don't know enough about chalk to say for certain, but I definitely have the belief that while it might not have 1000 stack frames, it does have numerous tricky cases that it w

[2019-08-30 18:56] nikomatsakis commented on #234
@flodiebold

Yeah, that's kind of the flaw in the thinking. =)

[2019-08-30 18:57] shepmaster commented on #233
@nikomatsakis yep, that's correct. It's the single most contentious design decision in SNAFU. I hope to switch to a procedural macro someday (when we bump our minimum Rust version, perhaps?) as many people have expressed concern at a `derive(...)` doing anything except implementing a trait.

[2019-08-30 19:02] scalexm commented on #234
@nikomatsakis I don’t think there’s any good reason why the where clauses are not inlined.

I probably thought it was equivalent because there would be a « perfect match » with the impl, but of course two impls can have a non-empty intersection with respect to their receiver type.

[2019-08-30 19:39] nikomatsakis commented on #234
@scalexm that's kind of what I thought.

@flodiebold so indeed I think we should split the issues. I think that issue 1 is relatively easy to resolve. Issue 2 requires a bit more thought. At the moment, I've gone off and started doing some background reading I probably should have done a long time ago (e.g., reading [Type Checking with Open Type Functions](https://www.microsoft.com/en-us/research/

[2019-08-31 08:59] flodiebold opened #235 "Normalization doesn't take into account which impl actually applied"
Split off from #234:
[code]
I'd expect this test to pass because the second IntoIterator impl should not have any effect at all here, but the result is instead ambiguous, because apparently the Normalize rule from the second impl applies too, because it just checks that the type implements IntoIterator, and not that it does so with that impl. That seems really wrong.

Niko:

[code]

[code]

scalex

[2019-08-31 09:00] flodiebold commented on #234
Ok, I moved the first one to a separate issue.

[2019-08-31 09:29] matklad commented on #233
@shepmaster let me try to rephrase why I feel that usual error handling mechanisms of Rust are not really helpful for chalk or other compilery things.

`snafu`, `failure`, `error_chain`, in my mind, are geared towards handling "exceptional" situations. That is, cases, where you have a wide variety of not really related errors, which should not be handled until the application/request boundary. Her

[2019-09-03 22:39] #235 closed

[2019-09-04 22:08] nikomatsakis commented on #234
So I've been thinking about this problem. I wanted to leave some notes.

The current modeling I think is basically *correct* in some sense. That is, it creates rules that are provable in the cases we want them to be provable. In particular, when proving that a projection type equals another type, there is ultimately a kind of choice involved -- you can prove it using the "placeholder" route or you

[2019-09-04 22:23] nikomatsakis commented on #232
I did have connotations of blackboards in mind, too :)

[2019-09-04 22:23] #232 closed

[2019-09-11 18:37] #85 closed

[2019-09-13 12:20] nikomatsakis opened #241 "refine `RustIrDatabase` interface"
This issue is for discussing the design of [`RustIrDatabase` trait](https://github.com/rust-lang/chalk/blob/b4a6b655578ee35b1b3f6b8579636269cf3b0b1a/chalk-solve/src/lib.rs#L17).

[2019-09-13 12:24] nikomatsakis commented on #241
First objection:

The [`impls_for_trait`](https://github.com/rust-lang/chalk/blob/b4a6b655578ee35b1b3f6b8579636269cf3b0b1a/chalk-solve/src/lib.rs#L39) method should supply hints about the types of impls we're interested in -- e.g., the self type. This is a crucial performance optimization in rustc.

This method is used for three purposes:

- finding "all local" impls for coherence purposes
- findi

[2019-09-13 12:25] nikomatsakis commented on #241
Second objection:

The `all_structs` method should be removed as well. We want to avoid any kind of "give me all the things" methods, I think, if possible.

This method is used to enumerate possible instantiations of auto traits where the self type is an unbounded inference variable; it's also used for some other kinds of internal goals, like `DownstreamType`, with similar reasons.

[2019-09-13 12:28] nikomatsakis commented on #241
I [started the `remove-unselected-projection` branch](https://github.com/nikomatsakis/chalk-ndm/tree/remove-unselected-projection) working towards these two goals. It does a few things:

- Introduced a method to use for coherence, which is kind of a special case
- Insisted that we flounder all goals where the "self type" is an unbounded inference variable
    - I think we could refine this rule in

[2019-09-13 12:39] nikomatsakis commented on #241
Another concern:

I think I would prefer to get away from removing "complex structs"...maybe? Not entirely sure about this. But it seems like it might be nice to have relatively "flat" methods, so that we can map more easily to whatever "HIR-like" data structures exist on the other side (and perhaps for better incremental tracking).

[2019-09-13 20:09] flodiebold commented on #241
@nikomatsakis The branch you linked doesn't contain anything related to this as far as I can see; is it the right one?

Agree about both points; `all_structs` is actually still a stub returning `vec![]` in rust-analyzer.

Not sure how that would look...

[2019-09-13 20:13] flodiebold commented on #234
I'm not sure I understand the notation `Implemented[Trait](<T as Iterator>::Item, T)`... is that `Implemented(<T as Iterator>::Item: Trait)`? :thinking:

[2019-09-13 20:36] flodiebold commented on #241
By the way, I actually need this for what I'm working on in RA currently -- I need to make every closure type implement the Fn traits, so I would need to find all closures in the whole crate or even project to satisfy the current interface.

[2019-09-13 20:39] flodiebold commented on #241
Also, I ran into the problem that in the process of inferring types for an `Option::map` call, I try to solve `Normalize(<?1 as FnOnce<(u32,)>>::Output => ?0)` and get back that it isn't solvable (instead of ambiguous), so the inference gives up... This might also be solved by the rule you mentioned?

[2019-09-23 20:10] nikomatsakis commented on #234
@flodiebold er, yes, sorry, my bad. Let me edit the notation, but it would mean

[code]

[2019-09-23 20:10] nikomatsakis commented on #234
The problem with that notion (`Implemented(P0: Trait<P1...Pn>)`) is that it doesn't make clear which things can be variables (notably, the parameters) and which cannot (the trait name, at least not yet). But anyway.

[2019-09-23 21:49] nikomatsakis commented on #218
OK, @KiChjang, so what's missing from your PR is that we need to extend the "clause" lowering code. The basic rule that we want to create is that whenever the "self-type" is `dyn Foo` or `impl Foo`, we can add a rule that `dyn Foo: Foo` and `impl Foo: Foo`.

This would be done in the "clauses" code -- which is the code that takes a goal we are trying to prove and produces the "program clauses" tha

[2019-09-30 20:25] nikomatsakis opened #246 "make chalk inner loop "fuel friendly""
The goal of this issue is to ensure that the chalk engine's "inner loop" doesn't do an "unbounded" amount of work between invocations. The idea then is that the *outer* engine, the one that is driving chalk and asking for answers, is able to control how much work is done and to "give up" if it seems like things are taking too long. This is an alternative to #227, in that the "fuel" is pushed out f

[2019-09-30 21:11] nikomatsakis opened #248 "coinduction impl fails to consider that recursive calls may later fail"
Today's handling of coinduction in the logic engine is unsound. We consider any purely coinductive loop to be true, but actually a coinductive loop could fail later on.

Consider something like this, where each C*i* is a coinductive goal:

[code]

Here, C1 is clearly false, because there is no rules for C3. Therefore, C2 must also be false. However, under certain conditions our current code will i

[2019-09-30 21:14] nikomatsakis commented on #248
This is where the bug in our logic lies:

https://github.com/rust-lang/chalk/blob/457b473bf34a889fce709c44ac870125f018775c/chalk-engine/src/logic.rs#L1061-L1086

We assume that a recursive, coinductive goal is successful -- but in fact we should make the result *conditional* on that recursive, coinductive goal. This is effectively a form of delayed goal.

[2019-09-30 21:16] nikomatsakis opened #250 "remove support for "negative cycles""
Chalk today correctly handles "negative cycles", where you have something like

[code]

in the underlying logic. This requires a fairly complex mechanism called *delayed literals*. It is also, I believe, unnecessary for Rust -- and that should probably be a continued design goal.

The reason to remove this logic is two-fold:

- It is quite complicated. It requires us to "delay" goals and then find

[2019-10-04 19:22] nikomatsakis opened #255 "simplify chalk context trait and logic-engine"
When integrating chalk into rustc, we had to make a number of changes to account for the `'gcx` / `'tcx` lifetime split, but that split no longer exists.

Some of the things we can simplify:

We no longer need to canonicalize when "storing" strands into the table, so we should be able to get rid of the `CanonicalStrand` type:

https://github.com/rust-lang/chalk/blob/13303bb0067c6ed0572322080ae367e

[2019-10-06 09:00] ineol opened #256 "Discord channel mentioned in README is gone (?)"
The Readme says:

but it seems like this is not the case anymore. More generally, I could not find out the current status of the new rustc trait implementation.

[2019-10-07 14:17] nikomatsakis commented on #256
It's true, that's out of date. We mostly hang out on Zulip now. I'll try to update "all the things"

[2019-10-07 14:17] nikomatsakis commented on #256
More canonical link

https://rust-lang.github.io/compiler-team/working-groups/traits/

though it too is somewhat out of date :)

[2019-10-08 09:27] matklad opened #260 "Make chalk_solve::Solver UnwindSafe"
In rust-analyzer, we use panics to implement cancellation. That means that, while we use chalk to solve some goal, the callbacks from chalk into rust-analyzer might panic, unwinding past the Solver.

This unfortunately leaves the solver in an inconsistent state at the moment. See https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/Logic.20panics for some more details.

This issue

[2019-10-14 10:04] nikomatsakis opened #261 "add a "well-known" Sized trait to `chalk_solve`"
I think the `chalk-solve` crate ought to start encoding rules for "well-known" traits that require compiler support. A good place to start is the `Sized` trait. I'm opening this issue to remember the problem, it will be extended with mentoring instructions.

[2019-10-14 11:54] lqd commented on #261
That's `chalk-solve`, right ?

[2019-10-20 18:06] jackh726 commented on #255
@nikomatsakis I've been playing with this over the weekend and have made a lot of progress. Still have some more work to do, but should have a PR sometime soon.

[2019-10-28 19:54] nikomatsakis commented on #250
I talked to @tmandry and they're going to take a swing at this

[2019-10-28 19:54] nikomatsakis commented on #250
Or not! Looks like @jackh726 is on it ;)

[2019-10-28 19:55] jackh726 commented on #250
The timing!

[2019-10-29 21:08] #79 closed

[2019-10-29 21:08] #250 closed

[2019-10-30 00:45] nikomatsakis commented on #248
My plan for the fix, in short:

* If you see a co-inductive cycle, we create an answer with a delayed literal
    * So in our example, proving C2 would result in an answer "Yes, if C1"
* This delayed literal would propagate forward, so C1 would wind up with answer "Yes, if C1"
    * At this point, we can drop the delayed literal
* Meanwhile if we start another query (say of C2) and we get the answ

[2019-10-30 00:49] jackh726 commented on #248
So, I've been looking through the code for this, and the reason the added tests are failing are because C1, C2, and C3 are auto traits. And there isn't a mechanism at all to say "yes, C1 is an auto trait, but in this case it isn't"

[2019-10-30 00:52] jackh726 commented on #248
So, I think the rules for how auto traits behave with explicit impls here need to be better defined (or at least defined for me, since I don't know them).

What is surprising to me is that the second test's output doesn't match the first one. So there's more to this for sure.

[2019-10-30 04:31] jackh726 commented on #248
Ok @nikomatsakis

The good news is I have a fix. However, it's quite a bit overengineered and I think most of what I changed is unnecessary. So I'll spend time tomorrow un-overengineering it.

[2019-10-31 21:13] krk commented on #111
Goal no longer gives ambiguous as a result with ef456464:

[code]

[2019-10-31 21:15] krk commented on #144
This can no longer be reproduced with ef456464:

[code]

[2019-11-04 21:30] #256 closed

[2019-11-04 22:33] nikomatsakis opened #275 "unification under binders is broken"
The current logic for unifying under binders as broken in two ways. First off, it's specific (rather unnecessarily) to `for<'a>` types, when it should be applicable to any zippable things. Secondly, it only tests one half of the necessary conditions! In fact, we've got a comment to this effect, somehow:

https://github.com/rust-lang/chalk/blob/3ea7a60b73e202f2799efa8d711b633ed55b276a/chalk-solve/s

[2019-11-04 22:33] nikomatsakis commented on #218
The next step here is https://github.com/rust-lang/chalk/issues/275

[2019-11-08 10:47] nikomatsakis commented on #224
This is basically fixed by #271

[2019-11-08 10:49] nikomatsakis opened #278 "track test coverage"
In #224, @matklad suggested using "test coverage marks" to manually track test coverage:

https://github.com/rust-analyzer/rust-analyzer/blob/ef782adc293deb287128f005dbab2038ba3ccdc1/crates/test_utils/src/marks.rs

This seems like a great idea, although I wonder if we can come up with a better system for test coverage. There is a bit of a complication here in that we want to test (a) that lowering

[2019-11-08 10:49] nikomatsakis commented on #224
Closing this as fixed, I moved the test coverage idea to #278.

[2019-11-08 10:49] #224 closed

[2019-11-08 20:46] #233 closed

[2019-11-09 10:01] matklad opened #280 "Infinite stack growth in chalk"
This issue is to track a problem, discussed in this [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/infinite.20stack.20growth.20in.20chalk).

The original problem was observed in rust-analyzer (rust-analyzer/rust-analyzer#2052): chalk exhausts all available memory by expanding the stack: https://gist.github.com/matklad/c6320c19b08afc8e6d8ca8612354d5b8

Here's a

[2019-11-11 20:49] nikomatsakis commented on #280
Relevant factors:

* rust-analyzer size must be 4 (the default used in chalk, 10, makes the problem go away)

[2019-11-11 21:21] nikomatsakis commented on #280
OK, so I've reproduced the problem, and I know what it is, but I'm not sure yet what I think is the best solution.

You can find the test case on my branch [issue-280-rust-analyzer-infinite-growth][b].

[b]: https://github.com/nikomatsakis/chalk-ndm/tree/issue-280-rust-analyzer-infinite-growth

The problem is this:

* To impose the maximum size requirement of 4, we introduce inference variables
*

[2019-11-14 10:30] #275 closed

[2019-11-15 10:35] nikomatsakis commented on #218
So I think this is basically done. There are some caveats worth keeping in mind. For example, chalk assumes presently that the binders in a dyn/impl Trait are sorted into a canonical ordering. In any case, I'm going to close this, thanks @KiChjang ❤️

[2019-11-15 10:35] #218 closed

[2019-11-15 10:37] nikomatsakis commented on #214
This is done!

[2019-11-15 10:37] #214 closed

[2019-11-15 10:39] nikomatsakis opened #286 "extract rustc-guide content to make a chalk book"
I think we should extract the rustc-guide content on "new style" trait solving and instead have it live in the chalk repository, effectively trying to build a chalk book.

I'd actually like to hear @spastorino and @mark-i-m's take on this -- I'm now leaning towards having salsa, polonius, and chalk (and maybe other very self-contained projects) host their own books, with links from the rustc-guide

[2019-11-15 11:47] spastorino commented on #286
I think that's a good idea and I like the idea of rustc-guide having links to them.

One question I have though is ... I guess the books would explain the libraries outside of the context of the compiler?, in that case, would rustc-guide have an "integration" chapter that explain how those libraries are used in the compiler and how are integrated? and the links to the libraries would be from those

[2019-11-15 15:01] mark-i-m commented on #286
Hmm... I'm skeptical.

I might be biased since I personally don't favor the compiler being broken into different repos.

But I think my main concern is that we fragment knowledge around different repos and books. I don't like that precedent. The guide would no longer be a one stop shop -- it would effectively become what the forge was: a collection of links to random places. It would also make it

[2019-11-15 15:59] tmandry commented on #286
I think putting the content in the same repo makes it a _lot_ easier to keep things in sync. I also like the idea of having an "integration chapter" inside rustc-guide which points to the chalk guide.

It would be kind of nice if we similarly put the rustc-guide inside the rust repo, but I don't really see that happening.

[2019-11-15 16:17] matklad opened #287 "Remove dependency on lalrpop-intern"
Salsa uses `lalrpop-intern` internally for string interning. However, `lalrpop-intern` is not thread safe: its IDs are `Send`, but the interner is stored in a thread-local.

cc @flodiebold : I remember discussing this issue before, have we just forgotten about this?

[2019-11-17 12:25] flodiebold commented on #280
After #279, am I right in assuming this manifests as OOM instead of stack overflow now?

[2019-11-17 12:28] matklad commented on #280
@flodiebold to be precise, this never was a stackoverflow, because chalk used to grow the stack automatically.

[2019-11-17 22:00] Matthias247 commented on #246
Wouldn't adding general cancellation support being an alternative to adding any kind "fuel" values? Then callers can cancel operations depending on their requirements. E.g. they can cancel after a given timeout, user moved away to another operation, etc.

Adding cancellation support to a pure CPU bound problem is not too hard. You can add `cancel_token: &CancellationToken parameters to methods, an

[2019-11-18 15:47] 95th opened #289 "Out of memory on navigating to std code"
In VS Code using Rust-analyzer, If I control click `min_by_key` method, it goes OOM.

[code]
Issue on rust-analyzer:
https://github.com/rust-analyzer/rust-analyzer/issues/2284

Stack-trace:
[code]

It doesn't look to be the same as https://github.com/rust-lang/chalk/issues/280 but I am not sure.

Is there any way I can help? Thank you.

[2019-11-19 18:12] 95th commented on #289
This happens on navigating to a method of  a trait returned by another trait.

for e.g.:

navigating to `iter` in `vec.iter()` works OK
navigating to `filter` in `vec.iter().filter()` OOMs.

[2019-11-22 05:53] jackh726 commented on #280
Ok, so I've looked into this a bit tonight and figured I would write down more or less what I've found, in case other people want to take a look (or have ideas on the best solution).

@nikomatsakis's comment above (https://github.com/rust-lang/chalk/issues/280#issuecomment-552621555) is correct, but I'll go into more detail.

### Reproducing the issue ###
I used Niko's repro from above, but also h

[2019-11-24 09:34] matklad opened #298 "test-random takes ages to check"
Today I've noticed that this function takes two minutes to type-check in rust-analyzer:

[code]
https://github.com/rust-random/rand/blob/c388cb2d109e99afc3a48e0bbf90d15085e86156/src/lib.rs#L686-L697

I haven't investigated this further, but I think the most likely cause is some exponential blow up in chalk. cc @flodiebold

[2019-11-24 18:03] jackh726 opened #299 "(tests only) Add a "simple" mode"
So, when solving a goal, `chalk-solve` automatically adds various clauses for potential downstream impls, `Compatible`, etc. Additionally, any tests not in `test/slg` also are checked that they don't violate orhpan rules, etc. While, this is definitely good in general, it makes actually debugging of logic (using `CHALK_DEBUG=1` or `2` much more noisy.

I think it would be super helpful to somehow

[2019-11-30 17:59] matklad opened #301 "panic: truncate extracted a pending value"
I've seen the following panic couple of times:

[code]

I have not tried to minimize it, but the repro is

[code]

from rust-analyzer repository where `parity-ethereum` is https://github.com/paritytech/parity-ethereum/commit/cf2cb58e1d0fb5c7bcf59b4456492286907ce66c

[2019-12-02 15:09] detrumi commented on #301
Backtrace:
[code]

[2019-12-02 20:08] jackh726 commented on #286
Small thing, but I'm gonna add to this that `CHALK_DEBUG` should be documented somewhere.

[2019-12-02 20:23] jackh726 opened #302 "Non-ambigous answer that can replace an ambiguous answer may panic"
It's possible that a new answer may not be ambiguous, but an older answer was. In this case `push_answer` on `Table` does not insert a new answer, but still returns `true`. https://github.com/rust-lang/chalk/blob/3ef20308e7882a3e5fb71a6f28caab8cc71cf5f0/chalk-engine/src/table.rs#L107

However, if `true` is returned, then it's propagated up and eventually the `AnswerIndex` is incremented
https://gi

[2019-12-06 22:55] #111 closed

[2019-12-06 23:39] nikomatsakis commented on #246
Note for the future:

Now that we've landed the non-recursive form, one scenario that is worrying me is something like this:

* Start processing X but encounter a cycle
* Continue processing other strands but encounter QuantumExceeded, perhaps because of running out of fuel
* Never actually detect that no more answers will come because we never get to the point of running out of cycles

I think th

[2019-12-06 23:39] nikomatsakis commented on #246
@Matthias247 yes, we could add general cancellation, it's not so different from fuel I suppose.

[2019-12-09 19:52] nikomatsakis opened #306 "deferred: can we / should we truncate the environment, and how to avoid loops?"
In https://github.com/rust-lang/chalk/pull/294, we opted to stop truncating the environment. The problem was due to an infinite loop that arose in some rust-analyzer cases. The scenario [was described on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/design.20meeting.202019.2E12.2E09/near/182989871) recently but is also covered in #280 and #289.

In short, we would tr

[2019-12-09 20:05] nikomatsakis commented on #234
We [talked about this in our design meeting today](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/design.20meeting.202019.2E12.2E09/near/182991571) and decided to do a dedicated meeting on this topic next week ([calendar event](https://calendar.google.com/event?action=TEMPLATE&tmeid=MnFmbmdkaGV0aXE3Zjc4cjlpNWVjNDRoZXNfMjAxOTEyMTZUMTkwMDAwWiA2dTVycnRjZTZscnR2MDdwZmkzZGFtZ2p1c

[2019-12-09 20:30] #280 closed

[2019-12-09 20:30] #289 closed

[2019-12-11 18:56] jackh726 commented on #286
Also, somewhere in the book should be a reading list (https://github.com/rust-lang/chalk/issues/161)

[2019-12-11 19:03] jackh726 commented on #6
@nikomatsakis Is this issue still relevant? It sounds similar to (https://github.com/rust-lang/chalk/issues/234) and  (https://github.com/rust-lang/chalk/issues/280). The `FIXME` in the code isn't there anymore. Can this issue be closed?

[2019-12-11 20:20] nikomatsakis commented on #219
A note to help me remember:

I was debating if this lowering could lead to a need to handle "negative cycles". In particular, it seems at first glance plausible that a clause like:

[code]

might wind up recursively dependent on itself (i.e., part of proving `Overrides[V0](Foo<T>: Iterator)` would require proving `Normalize(<Foo<T> as Iterator>::Item -> u32)`). But I don't think this should be pos

[2019-12-11 20:35] nikomatsakis commented on #219
I suppose you could write something sort of self-contradictory like this:

[code]

In this case, proving that

* `Normalize(<Foo<String> as Iterator>::Item -> u32>`
* would require proving that `not { Overrides[V0](Foo<String>: Iterator) }`
* which would require proving that `Normalize(<Foo<String> as Iterator::Item -> u32)`
* which would require proving that `not { Overrides[V0](Foo<String>: Iter

[2019-12-13 14:00] #144 closed

[2019-12-23 13:12] nikomatsakis opened #313 "improve detection of trivial self-cycles for coinductive goals"
In #272, @jackh726 [commented](https://github.com/rust-lang/chalk/pull/272#discussion_r360658179):

Ok, so there's a couple things going on here, and I'll try to explain it succinctly since I'm traveling today (so on mobile at least for the minute).

So first, it's maybe not obvious from the PR (and maybe not even *wrong*), but something I found when looking through `CHALK_DEBUG` output. But in `a

[2019-12-23 13:23] #248 closed

[2019-12-27 15:46] t-mw opened #314 "Long-running analysis on large project with time spent in 'ensure_root_answer'"
I'm testing `rust-analyzer` in Emacs with a large-ish project (~18000 loc excluding dependencies), and running into long pauses spent in chalk. This is a stack trace from a profiler attached to `ra_lsp_server`, showing where most of the time is spent (in ms) from triggering a `highlight` request to the language server:

<img width="854" src="https://user-images.githubusercontent.com/9677694/715230

[2019-12-29 18:57] lnicola commented on #302
This causes a panic when running `rust-analyzer` over itself, as seen in https://github.com/rust-analyzer/rust-analyzer/issues/2675.

[2019-12-29 20:12] jackh726 commented on #302
@lnicola Thanks for the report. It would be nice to get min repro for this, but I'll start looking at a fix.

[2019-12-30 02:49] jackh726 commented on #314
So, having all the time spent in `ensure_root_answer` makes complete sense, because that's where the solving is done. However, what's surprising to me is how much time is spent in `get_or_create_table_for_ucanonical_goal`, which seems mostly to be caused by `program_clauses_for_goal`.

@nikomatsakis is this about what you would expect?

[2019-12-30 18:22] t-mw commented on #314
I tried setting `CHALK_DEBUG=1` for a 'goto definition' request that took around 40 seconds. The log is attached, I truncated it but it's still quite large.

[chalk.log.zip](https://github.com/rust-lang/chalk/files/4010611/chalk.log.zip)

[2019-12-30 19:33] nikomatsakis commented on #314
My take from that stack trace is that the problem seems to be relating to creating the program clauses -- it looks like it's enumerating out associated types? If I had to guess, I would guess that there are a large number, and we are really wastefully walking over and over them.

In general, the existing code in chalk-solve is very inefficient. It doesn't do any sort of caching and just redoes all

[2019-12-30 19:38] nikomatsakis commented on #314
@t-mw I presume the source code is not public? :) Any clues as to what it is?

[2019-12-31 01:56] Speedy37 commented on #301
I managed to get a trace of the last query before the crash:

[code]

[2019-12-31 02:44] Speedy37 commented on #301
This led me after reduction to the following reproducer:

[code]

[2019-12-31 02:55] Speedy37 commented on #301
I managed to reproduce it with the following code:

[code]

[2019-12-31 03:21] Speedy37 commented on #301
And a small test for ra_hir_ty:

[code]

[2019-12-31 03:22] matklad commented on #301
Thank you so much for this @Speedy37 , that's really helpful :heart: !

[2019-12-31 05:40] edwin0cheng commented on #301
I simplified @Speedy37  case to unrelated to `Future` and `async` :

[code]

[2019-12-31 10:54] t-mw commented on #314
I've invited you and @jackh726 to the project (https://github.com/t-mw/chalk-314-repro-rs/). There are instructions for reproducing the issue in the readme. I haven't added associated types to any traits defined in the project, but there are obviously a few dependencies that use them.

[2020-01-05 20:00] jackh726 commented on #301
This can be reproduced with the existing `higher_ranked_inline_bound_on_gat` test using a `max_size` of `3`.

[2020-01-05 20:01] jackh726 commented on #302
This can also be reproduced with the existing test `gat_unify_with_implied_wc` with a `max_size` of `3`.

[2020-01-05 20:04] jackh726 opened #318 "Potential bug: `should have floundered`"
Running the existing `forall_projection_gat` test with a `max_size` of `3` causes a panic with `should have floudered`, which comes from this line https://github.com/rust-lang/chalk/blob/4005b5ff3ee31a197ee3aa7d0c97d670cee0067b/chalk-solve/src/clauses.rs#L346. While using a `max_size` that low usually won't happen, it indicates that logic somewhere is wrong.

[2020-01-13 11:05] matklad commented on #260
Note that we now try to catch panics within the chalk itself, to make rust-analyzer more robust:

https://github.com/rust-analyzer/rust-analyzer/pull/2818

At the moment, we just reset chalk's state on panic, but it would be more convenient if chalk always was consistent after a panic.

[2020-01-14 01:42] Speedy37 commented on #301
Is there anyone working on this?

[2020-01-14 04:45] jackh726 commented on #301
Yes, this is being worked on.

[2020-01-26 13:43] #301 closed

[2020-01-29 04:26] Aaron1011 commented on #219
What's the current status of this issue? It looks like some specialization-related methods have been added (`build_specialization_forest`, `visit_specializations_of_trait`).

[2020-02-08 22:42] jackh726 commented on #306
I think now that truncation in general now just leads to `Floundering`, we should also just check if the `Environment` is too large. I think this question is still *valid* if we ever add truncation back in, but I'm not sure it should be an open issue, rather than just a note when `Environment` truncation is checked.

This should be pretty easy to fix, so I'll mark it as a `good first issue`.

[2020-02-11 23:26] jackh726 commented on #287
I'm actually going to mark this as a good first issue. It shouldn't be *too* difficult. There was some discussion in the closed PR: https://github.com/rust-lang/chalk/pull/295#issuecomment-562770319

[2020-02-14 15:47] flodiebold opened #327 "Handling integer/float variables"
Integer literals of unspecified type like e.g. `1` get assigned an 'integer type' variable in Rust, which is for most uses like a normal type variable, but we know it can only be one of the integer types. The same goes for float literals. Chalk mostly doesn't care about this, but it can lead us to a non-ambiguous solution because in some cases, only one solution actually is an integer type. The mo

[2020-02-14 19:14] nikomatsakis commented on #6
Yeah, I'm going to close this. We may indeed find some problems relating to this underlying pattern in practice, but we may not -- my concern would be that maybe there is something that we are able to type-check if we *eagerly* normalize (as rustc does) but which produces an "infinite type" if we are lazy. But the best way to find that would be to be converted rustc to a more lazy approach, I thin

[2020-02-14 19:14] #6 closed

[2020-02-14 19:27] nikomatsakis opened #328 "Extend `TypeFamily` with some context"
The various `intern` methods on `TypeFamily` do not currently permit any context. See e.g. [`intern_ty`]. We want that to take an `&self` parameter. This is going to be a somewhat extensive refactoring, however, because it's going to require threading a value around so that we can invoke the methods on it.

[`intern_ty`]: http://rust-lang.github.io/chalk/chalk_ir/family/trait.TypeFamily.html#tymet

[2020-02-14 19:38] nikomatsakis commented on #328
Proposed design to start is this. We will move from

[code]

to

[code]

Note that I left `ty_data` alone -- I do expect to add `&self` there too, but not as part of *this* issue. We'll do that next. Also, I only talked about types, but eventually we'll want to add this to all the other sorts of interned things. But the first step will be the hardest.

[2020-02-14 20:04] jackh726 commented on #327
So, I'm a little confused about this. Why would/does it matter that there can multiple "integer types" vs. `usize`, `u32`, etc.? `i` here should get inferred to being `usize` here since that's the only matching type for `Index`, right?

[2020-02-14 20:16] flodiebold commented on #327
From Chalk's view, `i` is of completely unknown type at that point, and there are more implementations of `Index` than just for `usize` (e.g. for ranges as well). But we know these other implementations can't apply because none of them are for an integer type.

[2020-02-14 20:17] flodiebold commented on #327
(An additional complication is that we in general don't want to enumerate a potentially completely open set of types for solutions, but in this case the actual set of possible types that the variable can take is very constrained from the outset.)

[2020-02-14 22:49] yaahc commented on #328
Indirectly related but we renamed TypeFamily to Interner here

https://github.com/rust-lang/chalk/pull/329

[2020-02-16 22:30] flodiebold commented on #327
Actually, it might be possible to model this using a hidden enumerable `Integer` trait :thinking:

[2020-02-17 02:59] jackh726 commented on #327
Yes, I was thinking about that as a solution (it was my first thought).

[2020-02-24 22:17] nikomatsakis opened #333 "introduce a `Visit` trait to go with `Fold`"
Right now we have a `Fold` trait that is used to transform types and other bits of IR. But sometimes we don't need to recreate the IR, we instead want to compute a value (e.g., count all the types etc). You can model this as a folder with mutable state, but it'd be more efficient to have a "visitor" trait.

Some examples where this would be useful:

* the truncator is right now only used to detect

[2020-02-24 22:27] nikomatsakis commented on #333
One question is how general to make the trait. The trait in rustc hardcodes returning a bool. I was imagining we might want something more general. I actually implemented this once but I can't find the branch. It looked something like:

[code]

To actually visit things, you used the `visit_with` method from the `Visit` trait (which was derivable):

[code]

The derive for a struct like `struct Foo

[2020-02-24 22:28] nikomatsakis commented on #333
The steps to implement this are probably:

* add the trait
* you could start out by writing a wrapper that abuses `Fold`, but that might not be worth it
* write the derive in the `chalk-derive` crate
* start to replace uses of `Fold`

[2020-02-26 14:24] nikomatsakis opened #334 "Adapt Chalk's debruijn indices to rustc's debruijn indices"
In Chalk, we assign a distinct debruijn index to every variable in a binder. In Rustc, debruijn indices identify the *binder* but we use a separate index for the variable *within* the binder. So, `for<'a, 'b>` in Chalk would introduce two debruijn indices, but in rustc only one. We should make these line up, and it's easier to adapt to the rustc model (plus that model has some advantages, in terms

[2020-02-26 17:09] nikomatsakis opened #335 "model "opaque types""
The goal here is to model Rust's `impl Trait`. For now the starting plan is to have a version where chalk is given both the opaque type declaration *and* the hidden type:

[code]

Note that opaque types can be generic.

We will model opaque types as an special kind of **alias**. Like associated types aliases, when an opaque type alias `T`  is equated with some other type `U`, we will generate an `

[2020-02-27 03:29] jackh726 opened #337 "Use `tracing` library for debugging and possibly benchmarking"
Currently, there is a simple debugging framework (if you can call it that) in `chalk-macros`. Implementing `tracing` support could allow fancy debugging or benching, such as following a `Strand`.

cc. @davidbarsky

This issue has been assigned to @nolanderc via [this comment](https://github.com/rust-lang/chalk/issues/337#issuecomment-618070128).

[2020-02-27 03:36] jackh726 commented on #333
This seems like a fairly easy issue to try to implement, so I'll mark it as such.

[2020-02-28 05:39] p-avital commented on #234
Hello,
Any updates on this? Sorry for being pushy, but most of rust-analyser's issues with type resolution point to this issue, I'd just like to see if there's any progress :)

[2020-02-29 16:53] SuhasHebbar commented on #333
Hello,
I am new to rust and haven't worked on writing macros yet.
I have started reading the [chalk book](https://github.com/rust-lang/chalk/tree/master/book) and the [blog posts](https://smallcultfollowing.com/babysteps/categories/#Chalk) linked in the README.

From what I could understand the work here involves
- Adding the Visitor, VisitResult traits similar to what has been described [above](h

[2020-02-29 18:31] shepmaster commented on #333
I don't know if any of this is relevant to Chalk, but as a bit of "here's another example of a visitor", when I created a visitor for [fuzzy-pickles](https://docs.rs/fuzzy-pickles/0.1.0/fuzzy_pickles/index.html), it had a few components:

- [`Visit`](https://docs.rs/fuzzy-pickles/0.1.0/fuzzy_pickles/visit/trait.Visit.html)

A trait that each node in the AST implemented. This was the trait that has

[2020-03-01 00:55] jackh726 commented on #333
@SuhasHebbar sound about right. Just want to clarify that not *all* `Fold` impls will be `Visitors`. If you want to take this on, but want some guidance or discussion, free free to join us on the wg-traits stream on zulip.

@shepmaster another (more relevant) example would the Visitor in rustc: https://github.com/rust-lang/rust/blob/master/src/librustc/ty/fold.rs#L198

[2020-03-02 21:17] davidbarsky commented on #337
@jackh726 I'll be able to pick this up this sprint. As we discussed copying over our discussion from wg-traits:

[2020-03-02 21:28] nikomatsakis commented on #328
This was done in #330

[2020-03-02 21:28] #328 closed

[2020-03-02 21:31] nikomatsakis opened #339 "Extend `Interner` `ty_data` method with `&self`"
In https://github.com/rust-lang/chalk/issues/328, we modified the `Interner` trait to have an `&self` argument:

[code]

This allows interners to create a type like (e.g.) `&'tcx TyData<'tcx>` to represent chalk types. But it doesn't permit them to use an integer to represent the interned type. But many systems (including rust-analyzer, via salsa) use integers rather than interned pointers, which

[2020-03-02 21:33] nikomatsakis opened #340 "extend interning of lifetimes, parameters, goals with `&self` arguments"
Building on https://github.com/rust-lang/chalk/issues/328, we should extend the other `intern_*` methods with `&self` arguments:

* [x] [`intern_lifetime`](http://rust-lang.github.io/chalk/chalk_ir/interner/trait.Interner.html#tymethod.intern_lifetime)
* [x] [`intern_parameter`](http://rust-lang.github.io/chalk/chalk_ir/interner/trait.Interner.html#tymethod.intern_parameter)
* [x] [`intern_goal`](

[2020-03-02 21:36] nikomatsakis opened #341 "extend lookup methods for things beyond types with `&self`"
Building on https://github.com/rust-lang/chalk/issues/339 and https://github.com/rust-lang/chalk/issues/340, we should extend the `*_data` methods with `&self`:

* [x] [`lifetime_data`](http://rust-lang.github.io/chalk/chalk_ir/interner/trait.Interner.html#tymethod.lifetime_data) -- #349
* [x] [`parameter_data`](http://rust-lang.github.io/chalk/chalk_ir/interner/trait.Interner.html#tymethod.parame

[2020-03-03 22:08] jackh726 commented on #234
We discussed this some more today in the design meeting ([link](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/design.20meeting.202020.2E03.2E03/near/189637720)). Unfortunately it's a really difficult problem with some fundamental design questions. We still don't have a "clear" path forward, but there's a couple things to do/think about:
1) Niko's recursive solver could fix

[2020-03-10 20:14] nikomatsakis commented on #340
This is done! @yaahc rocks!

[2020-03-10 20:14] #340 closed

[2020-03-17 21:14] nikomatsakis opened #351 "experiment with resurrecting the recursive solver"
We should experiment with returning to a "recursive style" solver in chalk. As described in [this gist](https://gist.github.com/nikomatsakis/bfbdbe588d6fc61ecb09e3b51847fb7c), recursive solving does offer some potential advantages:

* if we extend the setup, it may resolve the ambiguous associated type problem (ironic since we previously removed the recursive solver in part because we couldn't mak

[2020-03-17 21:14] nikomatsakis commented on #351
@flodiebold is working on this

[2020-03-17 22:34] nikomatsakis commented on #339
Fixed by https://github.com/rust-lang/chalk/pull/342 I think, but there is follow-up related work

[2020-03-17 22:35] nikomatsakis commented on #339
er, that follow up work is https://github.com/rust-lang/chalk/issues/341, so closing this issue, thanks @yaahc !

[2020-03-17 22:35] #339 closed

[2020-03-18 14:11] nikomatsakis commented on #335
Let's create a check-list of details to take care of

* [ ] Add syntax for testing (included in #324)
* [ ] Add well-formedness checking rules for the definition (must prove that the hidden type implements the required bounds, assuming the where clauses)
* [ ] Extend so that the hidden type is lazily accessed -- this is needed to permit cyclic dependencies in cases where we don't need to prove tha

[2020-03-18 16:56] flodiebold commented on #335
How about [this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ffa8c741bbd2c22cf0afea03788fe3c4) (comment in the `require_send` line to cause a cycle)?

[2020-03-20 01:13] Areredify commented on #333
I would like to pick this one up, but I am not really sure about the design: what are the benefits of using `VisitResult` over mutable state? Benefits I see is a) separating out the logic of whether to stop the visit based on the result to avoid repeating it after each visit b) having an explicit bottom-up structure for the answers. a) is applicable to mutable state too, so I am guessing you are i

[2020-03-23 21:44] nikomatsakis opened #356 "extend `TraitDefn` with concept of "well-known trait" identifier"
In order to accomodate built-in traits, we first have to be able to identify them. The idea here is to extend `TraitDatum` with a kind of `well_known: Option<WellKnownTrait>` field. [I sketched an outline of how to do this on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/builtin.20traits/near/191539918).

[2020-03-23 21:45] nikomatsakis commented on #356
@yaahc is I think going to look into this

[2020-03-23 21:50] yaahc commented on #356
Sounds good, I'm assuming this will be a short issue to do so I'll hold off on starting with the `Sized` trait until you've got this landed.

[2020-03-23 21:52] nikomatsakis commented on #356
@yaahc I was hoping you could do this work :)

[2020-03-23 21:52] nikomatsakis commented on #356
That is, I think we can add it with `Sized` and maybe a few other traits but not really support them yet

[2020-03-23 21:52] nikomatsakis commented on #356
Let me know if you don't have time though and I'll clear the assignment

[2020-03-23 21:53] yaahc commented on #356
Oooo, I misread, i thought you said you were going to look into it. Lol okay yea I got this :+1:

[2020-03-24 19:46] jackh726 commented on #287
This should have been closed in https://github.com/rust-lang/chalk/pull/336. I linked the wrong issue.

[2020-03-24 19:46] #287 closed

[2020-03-24 21:35] nikomatsakis commented on #333
So @jackh726 created a [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/introduce.20a.20.60Visit.60.20trait.20to.20go.20with.20.60Fold.60.20.23333) for this discussion. (thanks, I find it hard to keep up with gh notifications for this sort of thing...)

[2020-03-27 20:20] nikomatsakis commented on #261
Blocked on #356

[2020-03-27 20:29] nikomatsakis opened #363 "Extend Chalk with support for well-known, builtin traits"
This is a meta issue for the work of extending chalk to support the various built-in traits like `Sized`, `Copy`, and so forth.

* [ ] Extend `TraitDefn` with concept of "well-known trait" identifier #356
* [ ] Add basic support for the `Sized` trait https://github.com/rust-lang/chalk/issues/261
* [ ] Add support for a built-in `Copy` trait
* [ ] Add support for a built-in `Clone` trait
* [ ] Add

[2020-03-27 20:41] jackh726 opened #364 "experiment with converting semantic to syntactic equality"

[2020-03-27 20:43] jackh726 opened #365 "Add ability to output a `.chalk` file for reproducing bugs"

[2020-03-27 21:25] nikomatsakis commented on #261
So I think what we want here has two parts:

* First of all, we want to extend the 'well formedness' rules for *struct definitions* -- structs are not permitted to have "unsized fields" except in specific locations (notably, only the final field may be unsized). (Furthermore, *enums* are not permitted to have to unsized members...at all?)
* Based on this, rustc's code for checking whether a struct

[2020-03-28 17:43] #356 closed

[2020-03-31 20:32] nikomatsakis opened #368 "extend chalk `TypeName` with builtin types"
The [`TypeName`](http://rust-lang.github.io/chalk/chalk_ir/enum.TypeName.html) enum needs to be extended to cover the "built-in" types from Rust. The following variants would eventually want to be added:

* [x] scalar types:
  * [x] unsigned integer types (u32, u64, usize, etc)
  * [x] signed integer types
  * [x] bool
  * [x] char
* [x] tuple types (parameterized by arity, so `Tuple(usize)`)
* [x

[2020-03-31 20:47] nikomatsakis opened #369 "move remaining vectors, boxes in chalk-ir into associated types on `Interner`"
In general, we have been trying to remove hard-coded vectors and boxes from the chalk-ir APIs, and moving them instead to `Interner` associated types. See [the chalk book](http://rust-lang.github.io/chalk/book/types/role_of_interner.html) for more background on the `Interner` trait and its design.

This issue tracks the removal of the final vectors etc:

* [x] `Vec<ProgramClause<I>>` in `Environme

[2020-04-03 13:44] crlf0710 commented on #369
Will have a try this weekend.

[2020-04-04 04:43] crlf0710 commented on #369
Edit: Seems https://github.com/rust-lang/chalk/pull/370 is in flight.

[2020-04-04 19:22] MarkMcCaskey commented on #368
I'm interested in taking this on!  I'll follow up with a PR

[2020-04-04 19:24] MarkMcCaskey commented on #368
@rustbot claim

[2020-04-04 19:46] daboross commented on #365
@rustbot claim

[2020-04-04 19:48] super-tuple commented on #365
@rustbot claim

[2020-04-04 19:55] super-tuple commented on #365
@rustbot claim

[2020-04-05 14:01] Areredify commented on #261
I'll take this one

[2020-04-06 09:20] Areredify opened #375 "refactor Binders API to have a private value field"

[2020-04-06 19:18] nikomatsakis opened #376 "rename field `goals` of type `Goals` to `interned`"
A very simple first PR: we should rename the [field `goals`](http://rust-lang.github.io/chalk/chalk_ir/struct.Goals.html#structfield.goals) to `interned`, to mach the other types.

Split out from #370.

[2020-04-06 19:19] nikomatsakis commented on #369
@crlf0710 there are still other issues to claim -- e.g., `QuantifiedWhereClauses`, `ParameterKinds`, etc. Feel free to claim one of those.

[2020-04-07 01:24] crlf0710 commented on #376
#377

[2020-04-07 05:10] Areredify commented on #363
@rustbot claim

[2020-04-07 05:25] Areredify commented on #375
Implemented, waiting on #333 to make a pr

[2020-04-07 08:25] crlf0710 commented on #369
Changed `Vec<Parameter>` to `Substitution` in `Fn` in #378.

I'll have a try on `Vec<QuantifiedWhereClause<I>>` next.

[2020-04-07 14:09] #376 closed

[2020-04-07 14:12] nikomatsakis commented on #363
I would also say that this issue is fairly 'parallelizable', so if others want to pick up some aspects of it, that's not a problem. e.g. I think we could add code for `Copy` and the like. Maybe it's a good idea to break those out into separate issues and write-up some mentoring instructions?

[2020-04-07 14:13] nikomatsakis commented on #363
Although they may be somewhat blocked on https://github.com/rust-lang/chalk/pull/371 -- having more details of Rust types would be useful.

[2020-04-07 14:25] Areredify commented on #363
So if someone wants to pick it up, I am done with Copy, Drop and Clone (as far as I understood Clone introduces no hard coded impls and/or wf checks?) modulo #371 of course, but it will be easy to address when it comes to it.

[2020-04-07 18:12] crlf0710 commented on #369
Introduced `QuantifiedWhereClauses` in #379.

[2020-04-07 20:06] jackh726 opened #380 "Better consistency in interned types"
We have many structs that wrap [an interned type](https://github.com/rust-lang/chalk/blob/73a74be3bc1d0cdef3f76fa529a112a0d8367ddb/chalk-ir/src/interner.rs#L48), such as [Ty](https://github.com/rust-lang/chalk/blob/73a74be3bc1d0cdef3f76fa529a112a0d8367ddb/chalk-ir/src/lib.rs#L175) and [ProgramClause](https://github.com/rust-lang/chalk/blob/73a74be3bc1d0cdef3f76fa529a112a0d8367ddb/chalk-ir/src/lib.

[2020-04-07 21:03] nikomatsakis opened #381 "adopt synstructure for our custom derives"
Our custom derive code could maybe be made cleaner by using the `synstructure` crate -- but let's wait until we've landed https://github.com/rust-lang/chalk/pull/373/

This issue has been assigned to @Areredify via [this comment](https://github.com/rust-lang/chalk/issues/381#issuecomment-612322388).

[2020-04-07 21:06] detrumi commented on #381
We should take inspiration from rustc: https://github.com/rust-lang/rust/blob/master/src/librustc_macros/src/type_foldable.rs

([discussion in Zulip](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/design.20meeting.202020.2E04.2E07/near/193247680))

[2020-04-07 21:15] nikomatsakis opened #382 "port truncator to be a visitor"
Once https://github.com/rust-lang/chalk/pull/373 lands, we should port the truncator to use it.

cc @Areredify

[2020-04-09 11:40] zaharidichev commented on #380
@rustbot claim

[2020-04-09 14:20] #380 closed

[2020-04-10 09:17] #333 closed

[2020-04-10 13:53] zaharidichev commented on #306
@rustbot claim

[2020-04-10 17:46] Areredify commented on #261
blocked on #368

[2020-04-11 04:23] Areredify commented on #381
@rustbot claim

[2020-04-11 06:53] crlf0710 commented on #369
Given the rest a try in #386

[2020-04-11 09:20] gspe opened #388 "Failed to install on musl system (aipine linux)"
I'm trying to install rust-analyzer on alpine linux docker but the installation fail with this error:
[code]

[2020-04-11 09:27] detrumi commented on #388
This is a rustc limitation, see [rust#40174](https://github.com/rust-lang/rust/issues/40174).
Proc macros are really convenient in chalk for deriving traits like `Fold`, so I don't think we'll be removing them.

[2020-04-11 17:10] jackh726 commented on #260
With #338 merged, closing this only requires some regression tests for panic safety. This is pretty easy, so I'll mark it as such.

[2020-04-11 17:16] jackh726 commented on #388
Unfortunately, I'm really not sure there's anything for us to do here. As @detrumi said, seems like a rustc issue.

Sorry 😟

[2020-04-11 17:16] #388 closed

[2020-04-12 21:09] #375 closed

[2020-04-13 13:38] #381 closed

[2020-04-13 14:58] #382 closed

[2020-04-13 17:01] crlf0710 commented on #369
@rustbot claim

[2020-04-14 10:00] nikomatsakis opened #395 "extract accessors for getting various ids from binders"
_Originally posted by @nikomatsakis in https://github.com/_render_node/MDIzOlB1bGxSZXF1ZXN0UmV2aWV3VGhyZWFkMjUzMzAzNTE1OnYy/pull_request_review_threads/discussion_:

Side note that I think we should add some accessor here to `ImplDatum` that encapsulates this `skip_binders` call. Something like

[code]

I think it's probably useful in other places (e.g., the auto-trait code potentially?) and regar

[2020-04-14 10:01] nikomatsakis commented on #395
cc @Areredify

[2020-04-14 19:19] #306 closed

[2020-04-14 19:46] detrumi opened #397 "Derive Zip impls"
We [already derive](https://github.com/rust-lang/chalk/blob/master/chalk-derive/src/lib.rs) `Fold` and `HasInterner` impls, we should do the same for [`Zip`](https://github.com/rust-lang/chalk/blob/master/chalk-ir/src/zip.rs#L72), which still uses some macros for that: [`eq_zip`](https://github.com/rust-lang/chalk/blob/master/chalk-ir/src/zip.rs#L180), [`struct_zip`](https://github.com/rust-lang/c

[2020-04-14 20:44] #395 closed

[2020-04-14 21:02] jackh726 commented on #9
Closed PR that needs followup: https://github.com/rust-lang/chalk/pull/230

[2020-04-14 21:09] jackh726 commented on #351
@rustbot assign @flodiebold

[2020-04-14 21:10] jackh726 commented on #351
Dang it that didn't work.

[2020-04-14 21:12] detrumi opened #398 "Create benchmarks"
We should create some benchmarks, so we can track runtime and memory usage later.

[2020-04-14 21:51] flodiebold commented on #398
The .chalk file writer would probably be useful here to create a large 'real-life' benchmark...

[2020-04-15 05:46] zaharidichev commented on #397
@rustbot claim

[2020-04-15 10:09] nikomatsakis commented on #364
OK, it took me some time to find, but I finally found a link to the meeting where we discussed this topic in some depth. It was the [meeting on 2019.10.16](https://zulip-archive.rust-lang.org/144729wgtraits/13560meeting20191016.html). So, to start, you can read those notes to get a high-level idea of what's being proposed.

I'll paste in the key idea here.

## How it works today

Today, given an i

[2020-04-15 10:09] nikomatsakis commented on #364
Here is the comment from my branch, just in case that file gets lost.

The "syntactic equality" lowering converts Rust *semantic* type
equality into *syntactic* type equality.
## Syntactic vs semantic equality
So, what is the difference between syntactic vs semantic equality?
Glad you asked!
* *Semantic* type equality means that the types are equivalent for
  Rust programmers.
* *Syntactic* type e

[2020-04-15 10:12] nikomatsakis commented on #364
A few things have changed since I pursued my older [syntactic-equality](https://github.com/nikomatsakis/chalk-ndm/tree/syntactic-equality) branch:

* We converted to a system where we count *binders* and not *bound variables*. This simplifies some of the transformations, I believe, particularly around goals.
* We introduced callbacks for folding goals and clauses into the folder. At least in some

[2020-04-15 12:55] zaharidichev commented on #397
@detrumi so would that result in actually two deparate derives:
- Zip (handles structs and enums)
- ZipEq (handles the eq_zip macro ?

[2020-04-15 13:00] Areredify commented on #364
@rustbot claim

[2020-04-15 13:12] detrumi commented on #397
Calling it `derive(ZipEq)` could be confusing, since it's still the same trait that's being derived. But we still need to handle them differently, so maybe that's indeed the simplest solution.

[2020-04-15 13:18] nikomatsakis commented on #397
You can just not handle the macro case, too, and leave that as a macro.

[2020-04-15 13:19] nikomatsakis commented on #397
That's what we did in some other comparable cases, such as `copy_fold!`

[2020-04-15 13:19] nikomatsakis commented on #397
That's probably what I would do to start.

[2020-04-15 13:40] nikomatsakis commented on #351
@rustbot assign @flodiebold

[2020-04-15 21:36] nikomatsakis opened #399 "coinduction semantics in the recursive solver"
The recursive solver introduced by @flodiebold  in https://github.com/rust-lang/chalk/issues/351 isn't handling coinduction correctly. A number of the tests have "FIXME" results. ([See comment.](https://github.com/rust-lang/chalk/pull/372#discussion_r408708780))

[2020-04-17 10:33] #369 closed

[2020-04-17 13:49] detrumi commented on #335
## Checklist
* [X] Add syntax for testing (#324)
* [X] Check that, without reveal, we can prove that the bounds are true but not other things (#324)
* [x] Cleanup debug output for impl traits (#400)
* [ ] Add tests for generic opaque types like `type Foo<X> = impl Iterator<Item = X>` (#402)
* [ ] Generate clauses for auto traits
* [ ] Check that, without reveal, we can prove that auto-traits hold

[2020-04-18 22:04] jackh726 commented on #398
Also tracing support will also help a bit here if we use the tracing-timing crate.

[2020-04-19 11:52] marmeladema commented on #260
@bors claim

[2020-04-21 20:50] zaharidichev commented on #397
@detrumi  First time using synstructure here, but looking a bit more at it, it seems to me that this will not be as clean as the Fold derivation. Namely, instead of deconstructing a single type, we need to dconstruct a tuple of two types so .`each_variant` will not quite work in this situation.. Is there a cleaner approach that I am missing?

[2020-04-22 06:16] detrumi commented on #397
If you look at the source of `each_variant`, you can see that it does a `for variant in &self.variants` loop. So you could probably do something like this:
[code]

[2020-04-22 15:57] detrumi commented on #337
@rustbot assign @nolanderc

[2020-04-22 17:45] jackh726 commented on #337
This doesn't work unless you're in `wg-triage`

But @nolanderc, you can do `@rustbot claim`

[2020-04-22 22:19] nolanderc commented on #337
@rustbot claim

[2020-04-25 22:59] marmeladema commented on #261
I hope https://github.com/rust-lang/chalk/pull/413 will help with this issue.

[2020-04-28 20:23] nikomatsakis opened #416 "document the "built-in trait impls" and where they live"
Issues #363 and #368 describe adding support for various bits of "well-known, builtin" stuff, but it's hard to track completion with two independent lists. What we really need is a matrix. Moreover, it'd be useful for that matrix to be in the chalk book, and able to track not only *what is done* but *where the various impls and things live*.

This issue is for adding something to the chalk book (i

[2020-04-28 22:28] nikomatsakis opened #418 "subtyping and type equality"
Chalk currently has a notion of type *unification*, but it doesn't have a notion of subtyping. Since trait matching is always invariant, and thus never uses subtyping, you might not think this is important, but it turns out it is when you consider higher-ranked types and variance (annoyingly).

The key invariant is that `T1 = T2` if `T1 <: T2` and `T2 <: T1`. The way we handle this equality for hi

[2020-04-28 22:28] nikomatsakis commented on #418
I think the steps here are something like the following

* Generalize our handling of lifetime constraints to consider outlives (`'a: 'b`) relations and not just equality
* Separate semantic from syntactic equality
* Generalize the semantic equality code so that it carries a variance around and handles higher-ranked equality correctly
* Create `Subtype` goals (which rustc wants anyway)

[2020-04-29 14:16] #397 closed

[2020-04-29 19:43] zaharidichev commented on #399
@rustbot claim

[2020-04-30 17:15] Mcat12 commented on #161
The bibliography has moved to the chalk book, here is the new link: https://rust-lang.github.io/chalk/book/bibliography.html

[2020-04-30 17:25] Mcat12 opened #423 "Mermaid book diagrams are broken in latest build"
Instead of a diagram, the raw mermaid code is displayed:
![image](https://user-images.githubusercontent.com/4417660/80740118-9cbd0a80-8ae5-11ea-9d3d-ee4b2dd80923.png)

This seems to be caused by an error in the latest CI run:
https://github.com/rust-lang/chalk/runs/632049259?check_suite_focus=true#step:11:5
[code]

[2020-04-30 17:29] Mcat12 commented on #423
#417 was the first merge commit to start failing.

[2020-04-30 18:07] Mcat12 opened #425 ""Potentially incomplete links" found by book link checker"
The link checker currently reports some warnings:
[code]
Source: https://github.com/rust-lang/chalk/pull/424/checks?check_run_id=634114550#step:5:16

Rendered example of a broken link:
![Screenshot from 2020-04-30 13-49-24](https://user-images.githubusercontent.com/4417660/80742924-28d13100-8aea-11ea-95e3-b77a941fe41d.png)

Should these warnings be increased to errors? All of the warnings currentl

[2020-04-30 18:55] Areredify commented on #368
@MarkMcCaskey what's the status on this?

[2020-04-30 19:17] #423 closed

[2020-04-30 19:20] MarkMcCaskey commented on #368
Sorry about the radio silence -- I've been busier than I anticipated recently and haven't had the spare focus to work on this.  I haven't worked on closures or functions other than what was in the original PR yet.  I can dedicate a bit of time to it this weekend and more time to it next week.  If this is blocking other issues and/or if someone wants to implement it, I have no problem with someone

[2020-05-02 11:34] flodiebold opened #429 "Better guidance for projections"
I think the following test, or something similar, should pass:
[code]
I.e. the recursive solver should be able to tell that there is only one impl that could possibly apply, so we know the `Item` type. This is derived from the following real-world case (from rust-analyzer/rust-analyzer#4072:
[code]
which rustc manages to [figure out](https://play.rust-lang.org/?version=stable&mode=debug&edition=20

[2020-05-03 15:43] Mcat12 commented on #425
The broken links have been fixed, so the remaining issue is if similar future warnings should instead be errors.

[2020-05-03 19:29] jackh726 opened #431 "Remove dependency on lalrpop-intern"
This is a continuation of #287

Basically, `lalrpop-intern` is no longer maintained (it's actually missing in lalrpop master). In #336, we made it only be used in tests and `chalk-integration`. However, we should use a separate crate. (In #295, I converted to string_cache. I think we can probably just use most of this PR.)

This issue has been assigned to @Mcat12 via [this comment](https://github.

[2020-05-03 21:18] Mcat12 commented on #431
I'm interested in contributing to chalk and this seems like a good issue to learn the code base with.

@rustbot claim

[2020-05-04 00:19] Mcat12 commented on #431
@nikomatsakis You made this comment on the closed PR; is there more refactoring requested? Or perhaps it can be handled in another issue?

https://github.com/rust-lang/chalk/pull/295#issuecomment-562770319

[2020-05-04 14:57] Mcat12 commented on #341
@nikomatsakis As of #355, this issue should be complete?

[2020-05-04 19:57] #431 closed

[2020-05-04 21:51] nikomatsakis commented on #341
I think that's correct.

[2020-05-04 21:51] #341 closed

[2020-05-05 15:27] #161 closed

[2020-05-05 15:29] jackh726 commented on #286
We have a book :) With a reading list and [documentation](https://rust-lang.github.io/chalk/book/contribution_guide.html#running-and-debugging) of `CHALK_DEBUG`. Closing :)

[2020-05-05 15:29] #286 closed

[2020-05-05 20:43] nikomatsakis opened #434 "model `ObjectSafe` goals"
We need to model object safety. I think a decent starting point is:

* add a `ObjectSafe(TraitId)` domain goal
* add a `RustIrDatabase` callback `is_object_safe(TraitId)`
* when we have to solve a `ObjectSafe(TraitId)` goal, we invoke the callback, and generate a fact or no fact depending on the result
* in rustc-integration, add a `#[object_safe]` flag attached to traits, and use that to test

Th

[2020-05-05 20:54] nikomatsakis opened #435 "extend chalk to include outlives goals"
As discussed in our meeting today, [starting around here](https://zulip-archive.rust-lang.org/144729wgtraits/54350designmeeting20200505.html#196364729), we want to extend chalk to handle region/type outlives goals and constraints to enable rustc integration. The steps are probably:

* add region outlives goals that generate region outlives constraints
* use region outlives goals in unification to

[2020-05-05 21:14] #416 closed

[2020-05-05 21:28] nikomatsakis commented on #368
@rustbot release-assignment

I think @MarkMcCaskey is busy, but also I'm going to break this into distinct issues.

[2020-05-05 21:31] nikomatsakis opened #437 "extend `TypeName` with `str` type"
As part of https://github.com/rust-lang/chalk/issues/368, we need to extend chalk's `TypeName` to model the built-in `str` type.

You can follow https://github.com/rust-lang/chalk/pull/394 which provides a rough model of what needs to be extended. `str` should be roughly like `u32`.

You would need to

* add `str` to `TypeName`
* extend parser to accept `str` as a type name, and add a suitable nod

[2020-05-05 21:34] nikomatsakis opened #438 "create `TypeName` for `&` and `&mut`"
As part of https://github.com/rust-lang/chalk/issues/368, we need to extend chalk's `TypeName` to model the built-in `&` and `&mut` types. We can add a variant `Ref(Mutability)`, where `Mutability` is a new type to add to chalk-ir based on [rustc's Mutability enum](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/mir/enum.Mutability.html).

You can follow https://github.com/rust-lang/c

[2020-05-05 21:35] nikomatsakis commented on #437
cc @Mcat12  -- maybe you are interested in claiming this issue?

[2020-05-05 21:37] nikomatsakis opened #439 "create typename for raw pointers"
As part of https://github.com/rust-lang/chalk/issues/368, we need to extend chalk's `TypeName` to model the built-in `*const` and `*mut` types. We can add a variant `Raw(Mutability)`, where `Mutability` is the same type described in https://github.com/rust-lang/chalk/issues/438.

You can follow https://github.com/rust-lang/chalk/pull/394 which provides a rough model of what needs to be extended. Y

[2020-05-05 21:38] nikomatsakis opened #440 "extend `TypeName` with slice type"
As part of https://github.com/rust-lang/chalk/issues/368, we need to extend chalk's `TypeName` to model the built-in `[T]` type. We can add a variant `Slice`.

You can follow https://github.com/rust-lang/chalk/pull/394 which provides a rough model of what needs to be extended. You probably want to model this on how tuples are handled, a N-ary tuple like `(_, _)` has two generic type parameters, an

[2020-05-05 21:39] nikomatsakis commented on #368
OK, I broke out a number of issues thus far that people can pick up.

[2020-05-05 22:55] Mcat12 commented on #437
@rustbot claim

[2020-05-06 02:33] Mcat12 commented on #438
Is this a copy-paste error? It appears in #439 and #437 as well.

[2020-05-07 17:56] nathanwhit commented on #439
@rustbot claim

[2020-05-07 23:19] nathanwhit commented on #440
@rustbot claim

[2020-05-07 23:36] #439 closed

[2020-05-08 03:56] nathanwhit commented on #438
@rustbot claim

[2020-05-08 04:37] jackh726 commented on #435
I'm going to work a bit on the region outlives.

[2020-05-08 15:36] Mcat12 commented on #434
@rustbot claim

[2020-05-09 22:53] #440 closed

[2020-05-09 22:58] #434 closed

[2020-05-09 23:01] jackh726 commented on #438
I merged the PR a *bit* too early. `&mut` references aren't copy/clone. @nathanwhit

[2020-05-09 23:28] #438 closed

[2020-05-10 00:07] #437 closed

[2020-05-11 20:32] jackh726 commented on #425
I would be okay if the warnings got bumped up to errors, since the link check is a separate check and isn't run on master. @Mcat12 do you want to do change this?

[2020-05-11 20:48] Mcat12 commented on #425
@rustbot assign

[2020-05-11 20:48] Mcat12 commented on #425
@rustbot claim

[2020-05-11 21:58] #425 closed

[2020-05-12 20:30] nikomatsakis opened #452 "refactor `ParameterKind` to match rustc, accomodate constants"
In order to resolve some of the problems we encountered in integrating const generics, we want to do the following refactorings:

* replaces `type Parameter = ParameterKind<...>` with a `GenericArg` (copying Rust's name) -- for bonus points, it should be an interned struct as well with a `data` method that gets a `GenericArgData`
* and refactors `ParameterKind<()>` into `BoundVariableKind<I>` or s

[2020-05-12 20:30] nikomatsakis commented on #452
@rustbot assign @Areredify

[2020-05-12 21:07] nikomatsakis opened #453 "generalize the builtin struct type to adt to match rustc"
Chalk currently has a notion of [struct types](http://rust-lang.github.io/chalk/chalk_ir/enum.TypeName.html#variant.Struct) but rustc has the more general [adt](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/enum.TyKind.html#variant.Adt). Also, chalk expects a `DefId` but in rustc we use an `AdtDef` (a pointer to an interned structure).

We should align with rustc here:

* Rename

[2020-05-12 21:10] nikomatsakis commented on #368
@rustbot release-assignment

This is a tracking issue, so it doesn't really *need* an assignee.

[2020-05-13 14:04] Mcat12 commented on #453
This seems straightforward enough, I'll give it a shot.

@rustbot assign

[2020-05-14 22:37] jackh726 opened #456 "Crate structure cleanup"
There are a few different crate structure cleanups we want to do.

* [ ] Move recursive solver out of `chalk-solve`
  - A lot of the functionality here overlaps with `chalk-engine`, so it would be nice try to set up the crate structure in a way that we only need to compile one or the other.
* [ ] Merge chalk-rust-ir into chalk-solve
  - This is a pretty small crate and there's not really a benefit

[2020-05-16 15:35] Mcat12 commented on #456
I can take this, though I have a question about "Merge chalk-rust-ir into chalk-solve". Will it need to be moved out again once a common type library is shared with rustc? Keeping it out of chalk-solve would therefore be closer to the target state.

@rustbot claim

[2020-05-16 15:47] Mcat12 commented on #456
Is the SLG solver wholly contained within `chalk-engine`, or is it also in `chalk-solve`? It may make sense to have a structure where `chalk-engine` provides the shared types between the SLG and recursive solvers. The solvers would be in their own `chalk-slg-solver`/`chalk-recursive-solve` crates and depend on `chalk-engine`. Then `chalk-solve` would depend on all three crates. Does this make sens

[2020-05-16 16:56] jackh726 commented on #456
I think @zaharidichev wanted to work on this: https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/coinduction.20in.20the.20recursive.20solver.20chalk.23399/near/197735953

[2020-05-16 17:01] jackh726 commented on #456
But to answer your questions @Mcat12, the types that we need to share are all in `chalk-ir`.

As far as SLG, the core logic is all in`chalk-engine`, but the `Slg` context and aggregate logic is in `chalk-solve`. I was also think that there would be a shared crate that both slg and recursive solvers depend on. And solve depends on both. But I don't really know if about the recursive solver to say h

[2020-05-16 17:08] zaharidichev commented on #456
Yeah I wanted to but life is first come first served :)  So take a stab @Mcat12!  @jackh726  Anything else that I can dig  into (something hard)?

[2020-05-16 17:09] Mcat12 commented on #456
That's fine, I can unassign myself assuming he's still interested.

Do you know of other issues that might help me learn the codebase? I'm at an "intermediate" level with the codebase, but I found some issues that may be doable. Perhaps you would have a better idea which would be most suitable? #313 #429

@rustbot release-assignment

[2020-05-16 18:26] jackh726 commented on #456
Let me open a topic on Zulip for a few things people can work on!

[2020-05-16 18:43] jackh726 commented on #261
This is done :) existing types have this logic and new types get it added in

[2020-05-16 18:43] #261 closed

[2020-05-16 19:30] zaharidichev commented on #313
@rustbot claim

[2020-05-16 19:56] Mcat12 commented on #456
Thanks for the Zulip thread @jackh726 ([link](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/Things.20to.20do))! I'll re-claim this issue; it looks like @zaharidichev will be working on #313.

@rustbot claim

[2020-05-16 21:52] #452 closed

[2020-05-17 18:10] Mcat12 commented on #456
Based on a [Zulip discussion], we'll keep the recursive solver in chalk-solve for now but still have the "chalk-engine-base" crate which holds the few shared solver types (replacing chalk-macros).

[Zulip discussion]: https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/recursive.20solver.20and.20chalk-solve.20seam

[2020-05-18 16:14] #453 closed

[2020-05-18 16:41] nathanwhit opened #460 "Track function ABI information"
This should (minimally) include:

- Calling convention (e.g. "C", "Rust")
- ABI of each argument
- ABI of the return type

In chalk, we should create a `FnAbi` (or equivalent) struct which holds the relevant information. [Here](https://github.com/rust-lang/rust/blob/9e2a6a29ce82e4fc5decad86dab7911a38582438/src/librustc_target/abi/call/mod.rs#L536) is where rustc models this information, which is a

[2020-05-18 16:42] Mcat12 commented on #429
I've started looking into this and I think I've found why the solver fails, though I may need some guidance on how to properly fix it.

@rustbot claim

The gist is that the recursive solver gets to to the point where it has to prove `Implemented(^0.0: Step)`, but it does not receive any clauses which it can use. I think it just `Implemented(^0.0: Step) :- FromEnv(^0.0: Step)` and `FromEnv(^0.0: St

[2020-05-18 18:39] nikomatsakis commented on #327
I used to favor an integer trait, but these days I'm thinking we will regret trying to be too clever, and we should just add more entries to [`VariableKind`](http://rust-lang.github.io/chalk/chalk_ir/enum.VariableKind.html) for "integer type variable" and "float type variable", and basically model how rustc handles this.

[2020-05-18 18:40] nikomatsakis commented on #327
I feel like it's not that much complexity to add and somehow I think we are going to find that using a special trait is going to be more trouble than it's worth.

[2020-05-18 18:48] flodiebold commented on #429
Returning `Ambig(Unknown)` for `Implemented(^0.0: Step)` is correct, I think. When the solver gets a goal like `Implemented(^0.0: Step)`, it cannot enumerate all types that implement `Step`, so even if it did have some other program clauses for this goal, and those program clauses did give solutions, it still doesn't know whether there are other solutions. I think the actual problem is in the laye

[2020-05-18 18:50] flodiebold commented on #327
The trait solution wouldn't work in the recursive solver anyway, at least.

[2020-05-18 19:19] Mcat12 commented on #429
I was a little confused by why `Normalize` required `Implemented` rules, as the types should still be equivalent regardless of if they are implemented or well-formed. Perhaps the `Implemented` rules should be moved to another clause?

[2020-05-18 20:21] Mcat12 commented on #429
Reading the debug output, a solution is found but the ambiguous solution from `Implemented(^0.0: Step)` is used instead because it has a higher priority:
[code]

There is a similar test in #433 (no associated types though) while seems to work as expected:
https://github.com/rust-lang/chalk/blob/c8135bbd7c0e56d83e729d4fc33df811513c1f92/tests/test/impls.rs#L643-L660
However, the PR is mainly for the

[2020-05-19 10:09] flodiebold commented on #429
This is why: #235
The `Normalize` rule needs to check the where clauses of the impl.

That's also correct, the low-priority solution isn't really helpful here either, it's just a placeholder for the associated type in case we find no other solution.

The PR also contains a fix for the recursive solver, it's just much smaller apparently :wink:

[2020-05-20 16:16] Mcat12 commented on #429
So I took another look at the [Type equality and unification] logic to figure out what path the logic is expected to take in order to arrive at the `Ambiguous; definite substitution { [?0 := ?0.0, ?1 = ?0.0] }` solution. Once we reach the goal `Normalize(<Range<T> as Iterator>::Item -> T)` we produce the following clause:
[code]
The documentation proposes an additional condition, `Implemented(Rang

[2020-05-20 16:37] flodiebold commented on #429
That's the documentation being outdated; the condition for the `Normalize` rule used to be just that the corresponding trait is implemented, but that was wrong because of #235. And yeah, the current conditions imply that condition (but not the other direction).

I'm not sure what exactly you see as "entering the impl" here. We try to apply the `Normalize` rule, and that requires us to prove `Imple

[2020-05-20 16:59] Mcat12 commented on #429
I mean "entering the impl" as the for loop over all the impls of `Iterator` (maybe it should be further down the logical chain, like when we try to prove `Implemented(T: Step)`?):
https://github.com/rust-lang/chalk/blob/01690cff453d471a8184bc0f3de8fdf32301cd77/chalk-solve/src/clauses.rs#L328-L341

We are given that `T: Step` in the impl parameters, therefore we should know `FromEnv(T: Step)` while

[2020-05-20 17:21] flodiebold commented on #429
We don't know that; otherwise the result would be that the normalization is always valid, which it isn't.

But yes, the reasoning here is basically "if this were true, then the substitution would be `[?0 := ?0.0, ?1 = ?0.0]`. So I guess it could be possible to detect the situation, solve the goal assuming the condition, and then see what the substitution would be. I just think this is probably too

[2020-05-20 18:08] Mcat12 commented on #429
Ok, now I feel a little silly, but at least I understand the solver code a little better. #443 fixes this issue for the recursive solver (a simple 6-line change). However, it regresses the SLG solver to return `Ambiguous; no inference guidance` instead of `Ambiguous; definite substitution { [?0 := ?0.0, ?1 = ?0.0] }"`.

[2020-05-20 18:19] flodiebold commented on #429
Actually, I think that's the correct way to write what I meant :slightly_smiling_face:

Hm, well, the previous answer from the SLG solver is wrong anyway, and the SLG solver has problems with projections anyway (#234), so this doesn't seem that worrying to me, but I also don't know enough about the SLG solver to know whether there's a problem in the PR.

[2020-05-20 18:40] Mcat12 commented on #318
I no longer see a `should have floundered` panic with this test case, although several goals no longer have inference guidance.

[2020-05-21 14:57] Mcat12 commented on #98
#393 has been merged, can this be closed?

[2020-05-21 15:36] Mcat12 commented on #327
I'm interested in working on this, it looks like the design is thought-out enough to start experimenting with the implementation?

I don't see it mentioned yet, but following rustc we would have an `Int` _and_ `UInt` variable kind? As for the AST, it looks like we would represent integer/float variable kinds with special prefixes, in order to distinguish between the kinds? So similar to `const N`,

[2020-05-21 16:14] jackh726 commented on #327
Indeed, I think if we just go with the rustc way of approaching this, it should be fairly straightforward to implement.

There wouldn't be a different `Int` and `Uint`. The idea is if you have
[code]
and there is a `foo` on both `usize` and something else, we *know* that `x` is a `usize`. You can also imagine any other scenario where `x` is a different type of int/uint.

Floats are distinguished f

[2020-05-21 17:11] Mcat12 commented on #327
So to transform that example into a test, it would look something like this?
[code]

[2020-05-21 18:08] jackh726 commented on #327
Yes, that looks right

[2020-05-21 21:55] #260 closed

[2020-05-22 21:08] #313 closed

[2020-05-22 22:02] Mcat12 commented on #327
@rustbot claim

I've got a working implementation of integer kinded variables (:tada:), and after I extend it to floats I'll open a PR.

[2020-05-23 15:29] #456 closed

[2020-05-26 22:31] #327 closed

[2020-05-26 22:48] rvolgers commented on #435
Just out of curiosity, would this end up solving https://github.com/rust-lang/rust/issues/25860 ?

[2020-05-27 14:48] nikomatsakis commented on #435
Not directly. It's part of a larger plan that will address that problem, though.

[2020-05-27 22:02] #429 closed

[2020-05-28 18:30] Mcat12 commented on #460
What level of detail do we need for the ABI of the arguments and return types? Maybe giving some motivation for adding function ABI information would make this easier to answer.

[2020-05-28 18:40] Mcat12 commented on #299
@jackh726 is this issue ready to go? It's labeled with "design" (aka "needs design work"), but seems like it is straightforward enough to start implementing.

Maybe, we need to decide if this is important or if it will be used. Do you envision this only being used during test creation or debugging? Also, would this option be per-test (add syntax to `test` macro) or for all tests (environment varia

[2020-05-28 18:42] nathanwhit commented on #460
Pondering a bit more on this, I think that calling convention alone would probably be enough. That's the only ABI information rustc cares about until codegen, as seen [here](https://github.com/rust-lang/rust/blob/45127211566c53bac386b66909a830649182ab7a/src/librustc_middle/ty/sty.rs#L1031).

As for motivation, the ABI is essentially part of the type, so for instance a function pointer with a C ABI

[2020-05-28 18:58] Mcat12 commented on #460
That sounds good. Perhaps the way forward would be to add an associated `Abi` type to `Interner` and add an `abi` field to `FnDefDatumBound`? The `Abi` type used in rustc would be [`Abi`] or [`Conv`], not sure which one because they're very similar.

@rustbot claim

[`Abi`]: https://github.com/rust-lang/rust/blob/fcb4e771a6aa6d4af3fd771dd0403e2b649561f6/src/librustc_target/spec/abi.rs#L10
[`Conv`]

[2020-05-28 19:05] jackh726 commented on #299
@Mcat12 yeah so I marked this a "design" more so because it "needs decision". It's actually pretty straightforward to implement.

(I wanted to just link a comment @nikomatsakis made in the last meeting, since it's relevant https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/design.20meeting.202020.2E05.2E26/near/198818703)

The points you make are completely valid. When I first m

[2020-06-02 21:06] jackh726 commented on #418
We discussed this in today's meeting: https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/meeting.2006.2E02.2E2020/near/199548856

[2020-06-05 18:15] GabrielMajeri commented on #334
I've noticed @nikomatsakis is assigned to this, is this issue open for outside contribution?

[2020-06-05 21:42] nikomatsakis commented on #334
This is done :)

[2020-06-05 21:42] #334 closed

[2020-06-08 13:50] nikomatsakis commented on #299
I imagine we could get a bit more targeted about *when* we generate the rules -- for example, some of the coherence clauses only apply if there is a particular clause (`Compatibility`) in the environment, and we could check that.

[2020-06-08 13:57] nikomatsakis commented on #98
I guess so -- I don't think we've completed the story here, but at the same time I think we need a fresh tracking issue with more detail, and that issue may even want to live in the wg-traits repository.

[2020-06-08 13:57] #98 closed

[2020-06-09 20:21] nikomatsakis opened #504 "create a "generator witness" type"
As described [in the chalk book](http://rust-lang.github.io/chalk/book/types/rust_types.html#generator-witness-types), we need a generator witness type. More details coming.

This issue has been assigned to @Aaron1011 via [this comment](https://github.com/rust-lang/chalk/issues/504#issuecomment-641548313).

[2020-06-09 20:21] nikomatsakis commented on #504
@rustbot assign @Aaron1011

[2020-06-09 20:24] nikomatsakis opened #505 "extend chalk ADTs with information about variants"
We have a notion of ADTs but it can't capture the notion of having multiple variants and fields per variant. Part of #368.

This might be best done by also fixing #506.

This issue has been assigned to @doctorn via [this comment](https://github.com/rust-lang/chalk/issues/505#issuecomment-641578908).

[2020-06-09 20:28] nikomatsakis opened #506 "refactor how RustIr manages ADTs (and maybe other types)"
Currently the `RustIrDatabase` trait has methods that return `Arc<SomeRustIrType>`, but this doesn't map that well to rustc, as it must create these awkward types. We could instead have finer-grained methods. For the case of ADTs, we might have e.g.:

* num_variants(adt_id)
* num_fields(adt_id, variant_index)
* field_type(adt_id, variant_index, field_index)

[2020-06-09 20:31] nikomatsakis opened #507 "rename the `Fn` type to `FnPointer`"
The `Fn` type in chalk should be called `FnPointer` or perhaps `FunctionPointer`. Easy refactoring.

This issue has been assigned to @mental32 via [this comment](https://github.com/rust-lang/chalk/issues/507#issuecomment-641558479).

[2020-06-09 20:39] nikomatsakis commented on #507
Some other things we should support:

* unsafe fn
* ABI (being added already in a PR)

[2020-06-09 20:39] nikomatsakis commented on #507
@rustbot assign @mental

[2020-06-09 20:42] nikomatsakis commented on #507
To add support for unsafe functions will require

* extending the parser to permit `unsafe fn` and `fn`
* adding a field to the `Fn` type
* modifying the unification code
* modifying the support for the built-in `Fn` types, unsafe fns do not implement them

[2020-06-09 20:42] nikomatsakis commented on #507
https://github.com/rust-lang/chalk/pull/481 is a good model for most of that

[2020-06-09 20:42] jackh726 commented on #507
@rustbot assign @mental32

[2020-06-09 20:42] nikomatsakis commented on #507
@rustbot release-assignment

[2020-06-09 20:43] nikomatsakis commented on #507
@rustbot assign @mental32

Sorry @mental :)

[2020-06-09 20:45] mental32 commented on #507
@nikomatsakis No worries, you noticed it quicker than I did :laughing:

Are these also in the scope of this PR?

[2020-06-09 20:49] nikomatsakis commented on #507
Yes @mental32 those are in scope I think

[2020-06-09 20:49] nikomatsakis commented on #507
They could be done in distinct PRs

[2020-06-09 20:52] mental32 commented on #507
Asking since I'm not sure whether the claim would apply there or not but good to know

[2020-06-09 21:04] Areredify commented on #363
Im already working on `CoerceUnsized`

[2020-06-09 21:11] doctorn commented on #505
@rustbot claim

[2020-06-09 21:11] doctorn commented on #506
@rustbot claim

[2020-06-09 22:33] nikomatsakis opened #508 "refactor how "lifetime outlives" goals are integrated into the solver"
The domain goal for "lifetime outlives" is currently hard-coded in a somewhat unsatisfactory way in both the SLG and recursive solvers. @jackh726 and I talked about various alternatives ways of handling it. We should adopt one of them.

I'm leaving this as a note to be elaborated with more details and precise proposal.

[2020-06-10 11:35] Areredify opened #509 "Add type outlives goal to Unsize"
In builtin impls for `Unsize` for `T` -> `dyn Trait + 'a` unsizing we need to check that `T` outlives `'a`, i.e. use `TypeOutlives(T, 'a)` which we don't currently have in chalk. So this is a tracking issue to add it once type outlives part of #435 lands.

[2020-06-10 11:42] Areredify opened #510 "Support different trait order in trait object unification"
Currently when doing unification of trait objects, we check that they are exactly equal, including order of auto traits and associated type clauses. We need to fix that and allow trait objects have any order of where clauses on them. Note that after implementing it some `Unsize` tests should begin to fail, you would need to bless them (and remove "FIXME" comments)

This issue has been assigned to

[2020-06-10 21:55] nikomatsakis opened #511 "simplify ProgramClauseImplication"
Currently we have the [`ProgramClause`] type, which maps to an enum [`ProgramClauseData`] with two options:

* Implies -- a [`ProgramClauseImplication`], corresponding to `P :- Q1..Qn` (i.e., `P` is true if `Q1...Qn` are provable)
* ForAll -- which wraps the same [`ProgramClauseImplication`] in binders, corresponding to `forall<...> { P :- Q1..qn }`.

I think we should remove the `Implies` variant

[2020-06-10 21:58] nikomatsakis opened #512 "rework how canonical and universe mapping works"
As discussed in [this Zulip thread](https://zulip-archive.rust-lang.org/144729wgtraits/66779mapfromcanonical.html), the existing canonical logic is broken:

* First, `map_from_canonical` needs to remap the universes in the canonical binders
* Second, we need to preserve *all* universes from the input, not just those that appear in placeholders

Finally, this might be an opportunity to refactor can

[2020-06-11 00:36] declanvk commented on #511
@rustbot claim

[2020-06-11 09:27] Areredify opened #515 "Coherence issue with overlapping imps with assoc types"
Given
[code]
we don't throw a coherence error. Adding `impl Iterator for Foo { type Item = u32; }` makes it appear, but it should work without it too.

[2020-06-11 10:47] Areredify opened #516 "Add inference variable info in debug output"
To print debug info that is not present in the internal representation of terms in chalk (struct and trait names, for example) we use a thread local storage, all info relevant to debug representation is stored there.
For example, when somebody tries to print a struct with id `1`, `Debug` implementation for structs checks if debug info is present in the tls and if it is, finds the name of the struc

[2020-06-11 12:40] zaharidichev commented on #510
@Areredify Looking at it a bit more closely, I wonder what the correct approach might be. Just sort everything before zipping in turn right [here](https://github.com/rust-lang/chalk/blob/master/chalk-ir/src/zip.rs#L119)?  I guess that would necessitate for a lot of types to derive `Ord`. Would that make sense ?

[2020-06-11 12:45] Areredify commented on #510
I suggest looking at what rustc does here first (I am not familiar with rustc code for this so I can't really give pointers)

[2020-06-11 14:15] scalexm commented on #510
rustc defines an arbitrary « canonical order » for traits in trait objects, and always sort them according to that order during AST conversion.

See: https://github.com/rust-lang/rust/blob/3ddf48053e83f4949d00dcaf6eb8d9e28fc6bb95/src/librustc_typeck/astconv.rs#L1703

[2020-06-11 15:20] Areredify commented on #510
We should probably do the same, can't really think of a better way

[2020-06-11 20:31] Areredify opened #517 "Add callback to get repr data"
To perform some of wf checks, we need to know whether or not struct has `#[repr(C)]` or `#[repr(packed)]` (only those two). So we need to add a database callback to get that info given an adt id and extend the parser to account for it in ChalkDatabase.

This issue has been assigned to @voidc via [this comment](https://github.com/rust-lang/chalk/issues/517#issuecomment-643694192).

[2020-06-11 20:42] Areredify opened #518 "Add callback to get layout data"
To perform some of wf checks, we need access to type layout data. For now we need two things: alignment and whether or not a type is a ZST. Note that computing layout needs access to the environment, so the callback will need to accept it as a parameter.

[2020-06-12 08:59] bjorn3 commented on #518
Which wf checks? Rust-analyzer doesn't calculate the layout of types and I don't think it will anytime soon.

[2020-06-12 09:04] Areredify commented on #518
@bjorn3  `DispatchFromDyn` impl wf checks, [link](https://github.com/rust-lang/rust/blob/3d8a0733ae58749db958e929aa14108b869f7540/src/librustc_typeck/coherence/builtin.rs#L146)

[2020-06-12 10:09] flodiebold commented on #518
Rust-analyzer doesn't do any WF checking either though, so we can probably get away with a stub implementation of these callbacks.

[2020-06-12 18:20] nikomatsakis commented on #399
So I [described in high-level terms](https://zulip-archive.rust-lang.org/144729wgtraits/21846coinductionintherecursivesolverchalk399.html#199203174) the way I think we should implement this. It builds on the [way that the recursive solver handles cycles now](http://rust-lang.github.io/chalk/book/recursive/search_graph.html).

### How inductive solver works

The basic structure for handling cycles

[2020-06-12 20:22] nikomatsakis commented on #399
I started exploring this in https://github.com/nikomatsakis/chalk-ndm/tree/recursive-coinductive -- just the first step I mentioned above.

[2020-06-13 01:46] #511 closed

[2020-06-13 15:45] zaharidichev commented on #399
Perfect. I will pick it up then ! Thanks a lot for the help!

[2020-06-13 23:44] voidc commented on #517
Hi everyone! I'm Dominik and I'm interested in getting involved in rustc and chalk development. This seem like a good place to start and get familiar with the code, so I filed a draft pull request (#523).

@rustbot claim

[2020-06-15 17:33] nikomatsakis commented on #219
With respect to my example, I realize now that this setup would probably fail in rustc because we require that there is a DAG between traits with respect to references from specializing impls.

[2020-06-16 19:07] jackh726 opened #530 "Make function names in `chalk_ir` more uniform"
Right now, the naming of function names in `chalk_ir` is a little bit non-uniform. For example:,
* `Substitution` has `from` and `from_fallible` for an `IntoIterator`, `from1` for a single, and `empty` for nothing
* `Binders` has `new` for a given `VariableKinds` and `empty` for no bound vars
* `VariableKinds` has `from` and `from_fallible` for an `IntoIterator`, `new` for nothing, and no `from1`

[2020-06-16 19:46] zaharidichev commented on #510
I wonder whether dedup makes sense as well?

[2020-06-17 17:05] #510 closed

[2020-06-17 17:12] jackh726 opened #532 "Add tests for unification of all types"
Originally mentioned in https://github.com/rust-lang/chalk/pull/531

It might be worth testing that specific types can unify with each other. In that PR, we specifically talked about trait objects with different ordering of auto traits. I imagine there are other types that we can specifically test for unification.

Some things off the top of my head that I can think about:
* Anything (including tr

[2020-06-17 17:22] jackh726 opened #533 "Reorganize(/cleanup) tests"
We've recently added a bunch of builtin types and traits, and a lot of tests associated with them. We should decide whether we're organizing tests by the *trait* the implement, or the *type* that implements.

Right now, there are some tests in `test/builtin_impls`, but much more in `test/*`. For example, there is `test/builtin_impl/copy.rs` which has *only* the test for tuples being copy. All the

[2020-06-17 17:23] zaharidichev commented on #532
@rustbot claim

[2020-06-17 20:34] #337 closed

[2020-06-18 16:25] #121 closed

[2020-06-19 21:38] Mcat12 commented on #515
Might be related to or fixed by #457?

[2020-06-20 06:21] Areredify commented on #515
I doubt it, there is no coinduction involved in this example

[2020-06-20 14:53] Mcat12 commented on #515
Oh, my bad, mixed up conduction and coherence :sweat_smile:

[2020-06-21 17:19] Mcat12 commented on #515
I've been looking into this a bit, might as well claim it. It looks like there might be an unexpected floundering and some missing clauses related to AliasEq and the compatible mode.

@rustbot claim

[2020-06-23 20:11] nikomatsakis commented on #508
Re-opening because we wanted to try a different approach before we call this complete.

[2020-06-23 20:12] nikomatsakis commented on #508
[Preferred approach described here](https://github.com/rust-lang/chalk/pull/527#issuecomment-647594148)

[2020-06-23 20:30] #517 closed

[2020-06-23 20:54] jackh726 opened #540 "Make `chalk-engine` and a new `chalk-recursive` (or whatever) depend on `chalk-solve`"
So, right now, `chalk-solve` depends on `chalk-engine` and the recursive solver is a module within `chalk-solve`. We should try to flip this around and make `chalk-solve` a dependency of both as separate crates. This should be mostly straightforward.

[2020-06-23 21:07] jackh726 commented on #241
Triage: this is what this issue needs to be closed. The idea is ,for example, rather than return an `AdtDatum`, we instead have separate functions for `adt_flags` and `adt_def`, etc.

[2020-06-23 21:10] jackh726 commented on #246
With the addition of `solve_limited`, this can be closed.

[2020-06-23 21:10] #246 closed

[2020-06-23 21:13] jackh726 commented on #255
I'm gonna go ahead and close this. There *might* be room for simplification here. But the code has diverged so much from what it was when these changes were made, it's not clear if and what it is.

[2020-06-23 21:13] #255 closed

[2020-06-23 21:15] jackh726 commented on #302
This was fixed in #433

[2020-06-23 21:15] #302 closed

[2020-06-23 21:22] jackh726 commented on #318
This was a bit nebulous to begin with. I'm gonna close.

[2020-06-23 21:22] #318 closed

[2020-06-23 21:26] jackh726 commented on #241
Actually, closing in favor of #506

[2020-06-23 21:26] #241 closed

[2020-06-25 10:54] zaharidichev commented on #540
@rustbot claim

[2020-06-25 17:24] nathanwhit commented on #508
@rustbot claim

[2020-06-28 15:52] nathanwhit commented on #435
I've been doing some work on the type outlives goals/constraints.

[2020-06-28 23:35] nathanwhit commented on #530
@rustbot claim

[2020-06-29 19:02] jackh726 commented on #365
Initial PR merged: #430

There are some followup things in the review there.

[2020-06-29 20:29] #515 closed

[2020-06-29 20:32] nikomatsakis commented on #365
Very cool

[2020-06-29 23:29] #530 closed

[2020-06-30 20:44] jackh726 opened #547 "Support associated consts"

[2020-06-30 20:45] jackh726 opened #548 "Support const evaluation"

[2020-07-01 23:19] nathanwhit opened #550 "Reduce boilerplate for interned type definitions"
Right now we repeat code [like this](https://github.com/rust-lang/chalk/blob/e7d8893231cda2ea18099d3e0e90d780925ff0b9/chalk-ir/src/lib.rs#L2672-L2705) in at least 4-5 places across `chalk-ir`. This not only creates bloat, making the definitions in`chalk-ir` harder to read, but also makes adding new interned types very tedious. We should find a way to reduce the amount of code duplication and boile

[2020-07-02 03:58] jackh726 commented on #365
Another thing that we should do is also be able to write out a goal

[2020-07-02 05:19] #508 closed

[2020-07-02 14:17] nikomatsakis commented on #550
Macros or derive might be an option here -- perhaps a trait for interned sequences? Something like that.

[2020-07-02 18:12] #509 closed

[2020-07-02 19:50] nathanwhit commented on #550
@rustbot claim

[2020-07-02 21:29] #505 closed

[2020-07-04 07:26] jackh726 opened #556 "Incorrect elaboration of `WellFormed` clauses for functions"
For `Wellformed` goals for functions, we push a `WellFormed` clause for each of the functions arguments here: https://github.com/rust-lang/chalk/blob/master/chalk-solve/src/clauses.rs#L548

This incorrectly handles bound vars. Take the following goal as an example:
[code]

The following clauses would get pushed:
[code]

I don't even think we *need* to push the `Wellformed` clauses for the paramete

[2020-07-04 18:19] jackh726 commented on #365
Also, in #557, we now no longer error on printing placeholders, fn defs, and closures. These should actually print the right thing

[2020-07-04 18:53] nathanwhit commented on #550
Closed by #554.

[2020-07-04 18:53] #550 closed

[2020-07-07 20:06] jackh726 opened #560 "Remove `force_impl_for` in `RustIrDatabase`"
Now that we handle enums (and other `TypeName`s), we don't need this on the rustc side anymore.

This issue has been assigned to @vandenheuvel via [this comment](https://github.com/rust-lang/chalk/issues/560#issuecomment-663269528).

[2020-07-07 20:24] Mcat12 commented on #560
Does it make sense to tag this as a good first issue?

[2020-07-07 23:07] jackh726 opened #561 "Add a "notation" section to the glossary of the book"
While we talk about bound vars, inference vars, and placeholders in different parts of the book and sometimes introduce notation, we should have a single consolidated section in the glossary to specifically mention some notation, such as:
[code]

Maybe others

[2020-07-07 23:36] jackh726 opened #562 "Use `dyn Solver` instead of `S: Solver` in `chalk_solve`"
See https://github.com/rust-lang/chalk/pull/546#discussion_r448618711

[2020-07-08 06:34] zaharidichev commented on #562
I will take this one, if there are no objections

[2020-07-08 12:20] zaharidichev commented on #562
@jackh726 I might be incorrect but it seems we cannot have the solver trait as a dyn where we would ideally want it:

[code]

[2020-07-08 15:23] jackh726 commented on #562
Haha, yep that's because of the `should_continue`. @nikomatsakis any ideas here?

[2020-07-08 21:42] Mcat12 commented on #562
Would adding `where Self: Sized` to each method be possible? That should make the trait object-safe.

[2020-07-08 21:48] nathanwhit commented on #562
That wouldn't be enough to make it object-safe, unfortunately. The trait is also not object-safe because it takes a generic parameter, which seems like the harder problem to solve.

[2020-07-09 20:58] jackh726 commented on #365
Also, when we record the goals too, then we won't have to rely on implementation details to ensure that items that are present in them actually get recorded (since we don't actually always need their `Datum` (see https://github.com/rust-lang/chalk/pull/566/files#r452485578))

[2020-07-09 22:32] nathanwhit commented on #540
Closed by #546.

[2020-07-09 22:32] #540 closed

[2020-07-10 20:10] flodiebold opened #568 "Decide whether the program clauses code should work on canonical or instantiated goals"
Currently, the SLG solver and the recursive solver disagree about what to pass to the program clauses code: The SLG solver instantiates the goal and then calls the program clauses code for it; the recursive solver calls it with the canonical goal. (This means that in the same goal, there will be either inference variables or bound variables depending on the solver.) There are advantages to both, b

[2020-07-12 10:42] matthewjasper opened #571 "Panic in SLG solver: clear_strands_after_cycle invoked on strand in table without a selected subgoal"
The following test case (extracted from `liballoc`) causes the SGL solve to panic (the recursive solver handles this just fine)

[code]

<details>

<summary>Output and backtrace</summary>

[code]

</details>

[2020-07-12 20:37] jackh726 commented on #571
A slightly more minimized version:
[code]

Interestingly, if you remove `non_enumerable` for `Sized`, you actually get the result `Unique; for<?U0> { substitution [?0 := {slice}<^0.0>, ?1 := Vec<^0.0>], lifetime constraints [] }`. This is actually wrong, since `?0 := B, ?1 := Cow<'a, B>` is also a valid substitution.

[2020-07-12 21:45] matthewjasper commented on #571
Enumerable sized doesn't work correctly (`exists<T> { T: Sized }` is considered too have no solutions, rather that lots. I'll raise an issue for it.

[2020-07-12 22:02] jackh726 commented on #571
We should have an issue somewhere (I can't find it), but this is a known issue that for builtin types. We can't enumerate them for builtin traits.

[2020-07-14 07:06] matklad commented on #278
We recently re-implemented our coverage marks on top of linker hacks, the UX is quite nice:

https://github.com/rust-analyzer/rust-analyzer/blob/46d4487b8900324fc6a523c8b6ebe036d28fd0fb/crates/test_utils/src/mark.rs

[2020-07-14 16:44] flodiebold commented on #507
We also need the `variadic` flag on function pointers.

[2020-07-17 20:52] nikomatsakis commented on #278
Ah, very cool. Is that available in some sort of re-usable crate?

[2020-07-17 20:56] nikomatsakis commented on #562
This is not correct. A trait can have generic parameters and still be dyn safe.

I think adding `where Self: Sized` could work though I indeed would probably just change to `dyn` arguments:

[code]

This will require modifying the callers to add `&|| ...` and `&mut || ...`, unfortunately.

[2020-07-17 21:06] nikomatsakis commented on #568
Sigh. I'm trying to remember why, but I know that I *initially* thought that the SLG solver was correct (we should invoke on instantiated goals) and I changed my mind at some point to think that the recursive solver was handling it more correctly.

[2020-07-17 21:08] matklad commented on #278
@nikomatsakis https://github.com/matklad/cov-mark

though, for rust-analyzer, we use a copy-pasted impl, just because we already have a crate with "assorted test utils".

[2020-07-17 22:38] nathanwhit opened #574 "Refactor `FnPointer` and `FnDef` to share function signature logic"
Right now we have a lot of code duplication in handling the ABI, safety, variadic-ness, and other information for function pointers and function definitions. We should encapsulate this in something like a `FnSig` struct, and use that in both `FnPointer` and `FnDef`.

[2020-07-23 22:50] vandenheuvel commented on #560
@rustbot claim

[2020-07-23 23:23] vandenheuvel commented on #560
@jackh726 could you close this?

[2020-07-23 23:29] #560 closed

[2020-07-24 22:01] #507 closed

[2020-07-25 13:12] flodiebold opened #584 "Prefer clauses from the environment"
The following code compiles in rustc:
[code]
This works even though there are other (blanket) impls that could apply for the `into()` call. rust-analyzer on the other hand can't resolve the type of `x` because the `T: Into<?>` goal is ambiguous. Note that if we have a struct `S` that impls `Into<String>` instead of the type parameter `T`, we get an ambiguity error (see [this playground](https://pl

[2020-07-27 20:53] jackh726 commented on #556
For reference, [this](https://github.com/jackh726/chalk/commit/07f58e62dc050a32bdfb778a63ec7502c1df6653#diff-a66f74f4c8a6a7a1342ab7c62c3ae8a4L548) is what I did in my subtyping branch and that solves it.

It's a bit unclear whether this is exactly what we want, but I'm interested in @nikomatsakis's thoughts. If that's okay, we can mark this as "good first issue"

[2020-07-29 20:31] jackh726 commented on #571
Okay, been looking a little bit more into this today. A very similar case that *doesn't* have a problem:
[code]
This correctly gives an ambiguous solution, because both `Rc<X>: Y` and `Rc<X>: Z` apply.

Still looking into this more.

[2020-07-30 03:25] jackh726 commented on #571
So, I *think* it comes down to `resolvent_clause{goal=Implemented(Rc<?0>: From<<?0 as ToOwned>::Owned>), clause=for<type> Implemented(Rc<^0.0>: From<Cow<^0.0>>) :- ForAll<> { Implemented(^1.0: ToOwned) }, ForAll<> { Implemented(Rc<^1.0>: From<<^1.0 as ToOwned>::Owned>) }}`. Specifically, that last bit will end up in a cycle. I still haven't figured out exactly why this cycle is having a problem.

[2020-07-30 12:21] vandenheuvel opened #586 "Updating rust to chalk 0.19.0 requires chalk-integration to be published to crates.io"
I am trying to upgrade rust to use chalk 0.19.0. Rust uses chalk-integration's `SolverChoice` which used to be in chalk-solve until https://github.com/rust-lang/chalk/commit/0847162dce483d65730eebdebca39233dff4518b. It seems to me that this requires publishing chalk-integration to crates.io.

[2020-07-30 12:46] flodiebold commented on #586
You don't want to use chalk-integration, that's the integration test. You should rather directly construct the SLG solver instead of going through `SolverChoice`.

[2020-07-30 13:11] #586 closed

[2020-07-30 18:19] nathanwhit opened #587 "Recursive solver fails on some WF checks"
While debugging a separate issue, I noticed that in our tests all WF checks are done by the SLG solver. Out of curiosity I tried using the recursive solver for the WF checks and noticed a handful of failures (i.e. the solver incorrectly determines the program to be not WF) and cases which run forever.

Failures:

- test::cycle::overflow
- test::misc::subgoal_abstraction
- test::misc::subgoal_cycle

[2020-07-30 18:33] nathanwhit commented on #587
With #569 applied, the two `outlives_constraints` tests fail instead of running forever.

[2020-07-30 19:54] nathanwhit commented on #571
Another instance of this panic is on [this branch](https://github.com/nathanwhit/chalk/tree/sem-syn), when performing WF checks for the following program

[code]

with the WF goal:
<details>

[code]
</details>

And here's the panic message/backtrace:
<details>
[code]
</details>

[2020-07-31 14:53] nikomatsakis commented on #584
Yeah, the plan for chalk was to try and push a "more pure" approach, where we would consider it ambiguous, but return "guidance", and leave it up to the rust-analyzer to decide when to apply that guidance.

[2020-07-31 15:10] nikomatsakis commented on #584
I would definitely prefer to try this approach (guidance) before anything else, it's great that we can use rust-analyzer to see how well it works.

[2020-07-31 15:52] nathanwhit commented on #571
Here's an ever so slightly more minimized version of the original test case, with some comments pointing out some of the necessary elements (i.e. if you change/remove one of them, the panic doesn't occur). Hope it's at least of some use

[code]

[2020-07-31 19:32] flodiebold commented on #584
So, would this be something like `Guidance::Suggested`? And then RA would basically detect when trying to resolve `x.as_str` that it can't make progress, and apply the suggested guidance?

[2020-08-02 00:13] #571 closed

[2020-08-03 23:50] jackh726 opened #590 "Regression for well known trait impls for builtin types"
So, this regression happened sometime between 0.14 and 0.20.

Basically, if we have a goal like
[code]
then we don't generate the clause for `Sized` impl (at least with SLG).

We pass `Implemented(Ty(?0i): TraitId(DefId(2:1942 ~ core[d282]::marker[0]::Sized[0])))` to `program_clauses_for_goal`; the `?0i` self type is not covered in `add_sized_program_clauses`. ~~I haven't tested `Copy`/`Clone`, bu

[2020-08-04 09:20] flodiebold commented on #590
I think we would have floundered on this before #555, but now it's actually hitting the built-in clauses code which doesn't handle it.

[2020-08-04 14:12] jackh726 commented on #590
Well, we used to be able to solve that goal fine in SLG (I found this when updating the rustc integration, because lots of tests there fail now)

Yeah, this should be a fairly simple fix, but its actually a pretty big issue.

[2020-08-04 14:44] flodiebold commented on #590
My guess is it worked because rustc tried again later when the variable was resolved. Now Chalk will say the goal can't be solved.

[2020-08-04 19:44] #533 closed

[2020-08-04 19:44] #590 closed

[2020-08-08 05:44] #562 closed

[2020-08-09 20:09] jackh726 commented on #435
This is done now

[2020-08-09 20:09] #435 closed

[2020-08-13 22:18] josh65536 commented on #561
Could notation be its own appendix?

[2020-08-15 20:44] josh65536 commented on #548
I'll give this one a try

[2020-08-18 01:45] crlf0710 opened #595 "Support extern opaque types."
[code]
This code compiles fine in rustc, but rust-analyzer gives `Box<{unknown}>` inlay hint to a.

[2020-08-19 17:49] josh65536 opened #597 "Exists-forall gives false solution for consts"
Solving
[code]
gives `Unique; substitution [?0 := !1_0], lifetime constraints []` instead of the expected `No possible solution`.

[2020-08-20 17:46] jackh726 commented on #595
While not technically "built-in", I think this falls under #368, so I'm gonna link this there.

Overall, I think this should be pretty easy. I *think* we really only need to add an extra variant to `TypeName`. Other than that, we won't add any clauses for `Sized`/`Copy`/`Clone` traits.

[2020-08-31 20:03] memoryleak47 commented on #574
I'm working on this.

[2020-09-02 04:42] #597 closed

[2020-09-02 15:53] #574 closed

[2020-09-03 15:37] memoryleak47 commented on #595
I'll try this one.

[2020-09-03 20:52] vringar commented on #368
Could this issue be closed and the remaining items moved into #16 directly so there's a more centralized overview of what still needs to be done for a shared type library?

[2020-09-04 05:56] jackh726 commented on #595
@rustbot assign @memoryleak47

[2020-09-04 05:56] jackh726 commented on #595
Ah right, I can't do that.

[2020-09-04 11:17] crlf0710 commented on #595
Thanks! Hopefully this will help solve https://github.com/rust-analyzer/rust-analyzer/issues/4150 .

[2020-09-04 19:33] Mcat12 commented on #368
@vringar Not sure if you linked to the right issue; that one is about checking kinds during lowering, from 2017.

[2020-09-04 19:36] jackh726 commented on #368
@vringar probably means rust-lang/wg-traits#16

I think keeping this open and linking to this from there is the best idea. Ultimately, yeah, there's not much left to here; but, I don't think it makes sense to put all the finer details there.

[2020-09-04 19:38] #595 closed

[2020-09-04 19:44] vringar commented on #368
Sorry for fucking up the linking.
@jackh726 is right is the assumption but also in the resolution.
Sorry for creating noise.

[2020-09-04 19:59] jackh726 commented on #368
@vringar No worries!

[2020-09-05 22:11] memoryleak47 commented on #363
I'll try `Unpin`

[2020-09-08 19:52] jackh726 opened #604 "Impl auto traits for builtin types"
Right now, we only handle auto traits for `Adt`s [here](https://github.com/rust-lang/chalk/blob/99ea62d9f092c580eedebd601e4e0dce20be3d9f/chalk-solve/src/clauses.rs#L259). We need to extend auto trait support to all builtin types.

[2020-09-08 19:58] jackh726 opened #605 "Consider builtin types when enumerating trait impls"
Right now, `exists<T> { T: Copy }` doesn't give the correct results if `Copy` is not marked as `non_enumerable`, since there are technically "infinite" impls (like a tuple of every size for all T where T is copy).

[2020-09-09 21:07] memoryleak47 commented on #604
I'm working on this!

[2020-09-14 20:34] detrumi commented on #335
Only one task left: extend WF rules for implied bounds interactions. I can't quite remember what we meant with that, but I think it's something along these lines:

Given this program:
[code]
Using implied bounds, this can prove the following (see the [implied_bounds test](https://github.com/rust-lang/chalk/blob/758e38bf6ed84cfaa69ed24d469ca39f3e0f105c/tests/test/implied_bounds.rs#L5-L24)):
[code]

[2020-09-15 20:27] jackh726 commented on #604
@memoryleak47 still working on this?

You should be able to `@rustbot claim`

[2020-09-15 20:32] memoryleak47 commented on #604
I was learning for an exam (which I had today) within the last week,
but  yeah, I'll work on this in the near future.

@rustbot claim

[2020-09-16 09:02] detrumi opened #610 "Add static lifetime"
Add support for `'static` lifetime (also called `ReStatic`)

[discussion during last meeting](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/meeting.202020-09-15/near/210186364)
[branch that made a start on this](https://github.com/rust-lang/chalk/compare/master...nikomatsakis:outlives)

[2020-09-16 09:08] detrumi commented on #610
@rustbot claim

[2020-09-28 17:57] nathanwhit opened #614 "Make reproducing test(s) for failing to generalize program clauses"
If program clauses are not properly generalized it can cause issues in the recursive solver. This was the cause of the recent [breakage in rust-analyzer](https://github.com/rust-analyzer/rust-analyzer/issues/6078). We should have a test that covers this to prevent future issues.

[Discussed briefly here](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/Recent.20breakage.20in.2

[2020-09-29 23:34] jackh726 opened #615 "Implement clauses to allow multi-parameter fundamental types"
See discussion here: https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/meeting.202020-09-29/near/211676604

Needed for rust-lang/rust#77187

For fundamental types like `Box<T, U>`, we should generate rules:

[code]

[2020-09-30 05:25] Aaron1011 commented on #368
With PR https://github.com/rust-lang/chalk/pull/593, we now have `Generator` and `GeneratorWitness`. All of the types in this issue are now checked off - is there anything left to do here?

[2020-10-03 15:54] #615 closed

[2020-10-03 17:04] Aaron1011 commented on #610
@detrumi Are you still working on this?

[2020-10-03 17:14] detrumi commented on #610
I made [a start](https://github.com/rust-lang/chalk/compare/master...detrumi:static-lifetimes) on it, though I think @jackh726 is currently finishing it.

[2020-10-03 20:49] Aaron1011 commented on #504
Implemented in https://github.com/rust-lang/chalk/pull/593